Repository IF-TG/iOS, pull requests merged in 2023-05, with the labels that each got.

#3 Feature/common combinecocoa
  travelPlan/.swiftlint.yml
  travelPlan/Source/Common/CombineCocoa/UIButton+Combine.swift
  travelPlan/Source/Common/CombineCocoa/UIControl+Combine.swift
  travelPlan/Source/Common/CombineCocoa/UIControl+CombineInteraction.swift
  travelPlan/Source/Common/CombineCocoa/UISwitch+Combine.swift
  travelPlan/Source/Common/CombineCocoa/UITextField+Combine.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: documentation, enhancement, feature

#4 Hotfix/add gitignore unittest
  .gitignore
  travelPlan/.swiftlint.yml
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/travelPlanTests.swift
  travelPlan/travelPlanUITests/travelPlanUITests.swift
  travelPlan/travelPlanUITests/travelPlanUITestsLaunchTests.swift
Labels: bug, hotfix

#5 Hotfix/add gitignore unittest
  .gitignore
  travelPlan/.swiftlint.yml
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/travelPlanTests.swift
  travelPlan/travelPlanUITests/travelPlanUITests.swift
  travelPlan/travelPlanUITests/travelPlanUITestsLaunchTests.swift
Labels: bug, hotfix

#6 Fix/develop
  travelPlan/Pods/Pods.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: bug

#7 Feature/main tabbar
  travelPlan/Source/Feature/Main/Model/TabBarCase.swift
  travelPlan/Source/Feature/Main/View/MainTabBarShdaowContainerView.swift
  travelPlan/Source/Feature/Main/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Main/ViewController/HeartViewController.swift
  travelPlan/Source/Feature/Main/ViewController/MainTabBarController.swift
  travelPlan/Source/Feature/Main/ViewController/PlanViewController.swift
  travelPlan/Source/Feature/Main/ViewController/ProfileViewController.swift
  travelPlan/Source/Feature/Main/ViewController/SearchViewController.swift
  travelPlan/Source/Feature/Main/ViewController/ViewController.swift
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/feed.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/feed.imageset/feed.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/feed.imageset/feed@2x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/feed.imageset/feed@3x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/heart.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/heart.imageset/heart.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/heart.imageset/heart@2x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/heart.imageset/heart@3x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/plan.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/plan.imageset/plan.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/plan.imageset/plan@2x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/plan.imageset/plan@3x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/profile.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/profile.imageset/profile.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/profile.imageset/profile@2x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/profile.imageset/profile@3x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/search.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/search.imageset/search.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/search.imageset/search@2x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/search.imageset/search@3x.png
  travelPlan/Source/Support/SceneDelegate.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 📲 ViewController, 🗑 Remove

#8 Feature/main tabbar
  travelPlan/Source/Feature/Main/View/MainTabBarShdaowContainerView.swift
  travelPlan/Source/Feature/Main/ViewController/MainTabBarController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 🗑 Remove

#9 Refactor/main files each directory
  travelPlan/Source/Feature/Favorite/ViewController/FavoriteViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Main/Model/TabBarCase.swift
  travelPlan/Source/Feature/Main/ViewController/MainTabBarController.swift
  travelPlan/Source/Feature/Plan/ViewController/PlanViewController.swift
  travelPlan/Source/Feature/Profile/ProfileViewController.swift
  travelPlan/Source/Feature/Search/LocationSearch/ViewController/LocationSearchViewController.swift
  travelPlan/Source/Feature/Search/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/favorite.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/favorite.imageset/favorite.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/favorite.imageset/favorite@2x.png
  travelPlan/Source/Support/Assets.xcassets/tabBarIcon/favorite.imageset/favorite@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: ✨ Refactor

#10 Feature/main tabbar
  travelPlan/Source/Feature/Main/ViewController/MainTabBarController.swift
Labels: ✨ Refactor

#18 Feature/feed userpostsearch
  travelPlan/Source/Common/Extension/UIColor+AppPalette.swift
  travelPlan/Source/Feature/Feed/View/Search/LeftAlignedCollectionViewFlowLayout.swift
  travelPlan/Source/Feature/Feed/View/Search/RecommendationSearchFooterView.swift
  travelPlan/Source/Feature/Feed/View/Search/SearchTagCell.swift
  travelPlan/Source/Feature/Feed/View/Search/UserPostSearchHeaderView.swift
  travelPlan/Source/Feature/Feed/ViewController/UserPostSearchViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/UserPostSearchViewModel.swift
Labels: 💡 Feature, 🖥 View, 🎨 Style, 📲 ViewController, ✨ Refactor, 🍒 Issue

#21 Feature/favorite view main scene
  travelPlan/Source/Common/Model/UIConstantSpacing.swift
  travelPlan/Source/Common/View/OneUnitHeightLine.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Adapter/FavoriteListTableViewAdapter.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteListTableView/FavoriteListHeaderView/FavoriteListHeaderImageViewsConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteListTableView/FavoriteListHeaderView/FavoriteListHeaderViewConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteListTableView/FavoriteListTableViewCellConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteViewControllerConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Mock/MockFavoriteListData.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Model/FavoriteListHeaderModel.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Model/FavoriteListTableViewCellModel.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Protocol/FavoriteListTableViewAdapterDataSource.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Protocol/FavoriteListTableViewAdapterDelegate.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/View/FavoriteListHeaderView/FavoriteListHeaderImageView.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/View/FavoriteListHeaderView/FavoriteListHeaderView.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/View/FavoriteListTableView/FavoriteListTableView.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/View/FavoriteListTableView/FavoriteListTableViewCell.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/ViewController/FavoriteViewController.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/ViewModel/FavoriteListViewModel.swift
  travelPlan/Source/Feature/Favorite/ViewController/FavoriteViewController.swift
  travelPlan/Source/Feature/Feed/Mock/MockPostModel.swift
  travelPlan/Source/Feature/Feed/Model/CategoryModel.swift
  travelPlan/Source/Feature/Feed/View/FeedNavigationBar/FeedNotificationBarItem.swift
  travelPlan/Source/Feature/Feed/View/FeedNavigationBar/FeedPostSearchBarItem.swift
  travelPlan/Source/Feature/Feed/View/Search/RecommendationSearchFooterView.swift
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/Contents.json
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteEmptyHeart.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteEmptyHeart.imageset/favoriteEmptyHeart.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteEmptyHeart.imageset/favoriteEmptyHeart@2x.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteEmptyHeart.imageset/favoriteEmptyHeart@3x.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteNavigationBarSetting.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteNavigationBarSetting.imageset/favoriteNavigationBarSetting.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteNavigationBarSetting.imageset/favoriteNavigationBarSetting@2x.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/favoriteNavigationBarSetting.imageset/favoriteNavigationBarSetting@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🙋‍♂️ Question, 🖥 View, 👨‍💻 ViewModel, 🏖 Common, 📲 ViewController, 🖋 Concept

#23 Style/view model protocol new feature
  travelPlan/Source/Common/Protocol/ViewModelProtocols.swift
  travelPlan/Source/Feature/Authentication/Login/Extension/LoginViewModel+Associatedtype.swift
  travelPlan/Source/Feature/Authentication/Login/ViewController/LoginViewController.swift
  travelPlan/Source/Feature/Authentication/Login/ViewModel/LoginViewModel.swift
  travelPlan/Source/Feature/Feed/Extension/LoginViewModel+AssociatedType.swift
  travelPlan/Source/Feature/Feed/Extension/UserPostSearchViewModel+Associatedtype.swift
  travelPlan/Source/Feature/Feed/Protocol/FeedNavigationBarDelegate.swift
  travelPlan/Source/Feature/Feed/View/FeedNavigationBar/FeedNotificationBarItem.swift
  travelPlan/Source/Feature/Feed/View/FeedNavigationBar/FeedPostSearchBarItem.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/UserPostSearchViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/FeedViewModel.swift
  travelPlan/Source/Feature/Feed/ViewModel/UserPostSearchViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 👨‍💻 ViewModel, 🏖 Common, 📲 ViewController, ✨ Refactor

#24 Feature/feed userpostsearch
  travelPlan/Source/Common/Extension/CALayer+Border.swift
  travelPlan/Source/Common/ViewController/CautionAlertViewController.swift
  travelPlan/Source/Feature/Feed/Extension/UserPostSearchViewModel+Associatedtype.swift
  travelPlan/Source/Feature/Feed/Protocol/CautionAlertViewControllerDelegate.swift
  travelPlan/Source/Feature/Feed/Protocol/FeedViewModelProtocols.swift
  travelPlan/Source/Feature/Feed/View/Search/LeftAlignedCollectionViewFlowLayout.swift
  travelPlan/Source/Feature/Feed/View/Search/RecommendationSearchFooterView.swift
  travelPlan/Source/Feature/Feed/View/Search/SearchSection.swift
  travelPlan/Source/Feature/Feed/View/Search/SearchTagCell.swift
  travelPlan/Source/Feature/Feed/View/Search/UserPostSearchHeaderView.swift
  travelPlan/Source/Feature/Feed/ViewController/UserPostSearchViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/UserPostSearchViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🏖 Common, 🎨 Style, 📲 ViewController, ✨ Refactor

#25 Refactor/directory reorganize
  travelPlan/Source/Common/Extension/CALayer+Border.swift
  travelPlan/Source/Feature/Feed/Extension/FeedViewModel+AssociatedType.swift
  travelPlan/Source/Feature/Feed/Extension/LoginViewModel+AssociatedType.swift
  travelPlan/Source/Feature/Feed/ViewModel/FeedViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎨 Style, ✨ Refactor

#26 Feature/feed userpostsearch
  travelPlan/Source/Common/Protocol/Delegate/CautionAlertViewControllerDelegate.swift
  travelPlan/Source/Common/ViewController/CautionAlertViewController.swift
  travelPlan/Source/Feature/Feed/Extension/UserPostSearchViewModel+Associatedtype.swift
  travelPlan/Source/Feature/Feed/Model/SearchModel.swift
  travelPlan/Source/Feature/Feed/View/Search/SearchTagCell.swift
  travelPlan/Source/Feature/Feed/ViewController/UserPostSearchViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/UserPostSearchViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 👨‍💻 ViewModel, 🎁 Repository, ✨ Refactor

#27 Feature/search main
  travelPlan/Source/Common/Extension/Preview/UIView+Preview.swift
  travelPlan/Source/Common/Extension/Preview/UIViewController+Preview.swift
  travelPlan/Source/Common/Extension/UIFont+.swift
  travelPlan/Source/Feature/Feed/Extension/PostSearchViewModel+Associatedtype.swift
  travelPlan/Source/Feature/Feed/Model/PostSearchModel.swift
  travelPlan/Source/Feature/Feed/Protocol/PostSearchHeaderViewDelegate.swift
  travelPlan/Source/Feature/Feed/Protocol/PostSearchTagCellDelegate.swift
  travelPlan/Source/Feature/Feed/View/PostSearch/LeftAlignedCollectionViewFlowLayout.swift
  travelPlan/Source/Feature/Feed/View/PostSearch/PostSearchFooterView.swift
  travelPlan/Source/Feature/Feed/View/PostSearch/PostSearchHeaderView.swift
  travelPlan/Source/Feature/Feed/View/PostSearch/PostSearchTagCell.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/PostSearchViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/PostSearchViewModel.swift
  travelPlan/Source/Feature/Search/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Feature/Search/View/BestFestivalCell.swift
  travelPlan/Source/Feature/Search/View/SearchHeaderView.swift
  travelPlan/Source/Feature/Search/View/SearchView.swift
  travelPlan/Source/Feature/Search/ViewController/LocationSearchViewController.swift
  travelPlan/Source/Feature/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Feature/Search/ViewModel/SearchViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🎨 Style, 📲 ViewController, 🗑 Remove, ✅ Test, ✨ Refactor
