Repository IF-TG/iOS, pull requests merged in 2023-10, with the labels that each got.

#96 [Feature] 피드탭의 travel category 실제 icon 적용 및 피그마 개선된 ui constant 리빌딩
  travelPlan/Source/Common/Model/TravelTheme/TravelMainThemeType.swift
  travelPlan/Source/Feature/Feed/Adapter/CategoryPageViewAdapter.swift
  travelPlan/Source/Feature/Feed/Constant/CategoryConstant.swift
  travelPlan/Source/Feature/Feed/Protocol/CategoryPageViewAdapterProtocol/CategoryPageViewDataSource.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryDetailView/CategoryDetailViewCell.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryPageView.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryView/CategoryView.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryView/CategoryViewCell.swift
  travelPlan/Source/Feature/Feed/ViewModel/CategoryPageViewModel.swift
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryAll.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryAll.imageset/travelCategoryAll.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryAll.imageset/travelCategoryAll@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryAll.imageset/travelCategoryAll@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryDevelop.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryDevelop.imageset/travelCategoryDevelop.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryDevelop.imageset/travelCategoryDevelop@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryDevelop.imageset/travelCategoryDevelop@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryPartner.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryPartner.imageset/travelCategoryPartner.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryPartner.imageset/travelCategoryPartner@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryPartner.imageset/travelCategoryPartner@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryRegion.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryRegion.imageset/travelCategoryRegion.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryRegion.imageset/travelCategoryRegion@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryRegion.imageset/travelCategoryRegion@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategorySeason.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategorySeason.imageset/travelCategorySeason.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategorySeason.imageset/travelCategorySeason@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategorySeason.imageset/travelCategorySeason@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryTravelTheme.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryTravelTheme.imageset/travelCategoryTravelTheme.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryTravelTheme.imageset/travelCategoryTravelTheme@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/TravelCategoryIcon/travelCategoryTravelTheme.imageset/travelCategoryTravelTheme@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 🏖 Common, ✨ Refactor

#95 [Rebuild] 피드 탭 포스트 cell을 개선된 디자인에 맞게 수정했습니다.
  travelPlan/Source/Common/View/BaseProfileAreaView.swift
  travelPlan/Source/Feature/Feed/Adapter/PostViewAdapter.swift
  travelPlan/Source/Feature/Feed/Constant/PostViewConstant.swift
  travelPlan/Source/Feature/Feed/Mock/MockPostModel.swift
  travelPlan/Source/Feature/Feed/Model/PostModel/PostHeaderModel/PostHeaderModel.swift
  travelPlan/Source/Feature/Feed/Model/PostModel/PostModel.swift
  travelPlan/Source/Feature/Feed/View/PostView/InnerRoundRectReusableView.swift
  travelPlan/Source/Feature/Feed/View/PostView/MoreMenuView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostCell.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostContentAreaView/PostContentAreaView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostContentAreaView/PostThumbnailView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostFooterView/PostFooterView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostHeaderView/PostHeaderInfoView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostHeaderView/PostHeaderSubInfoView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostHeaderView/PostHeaderView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCollectionView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostSortingMenuAreaView.swift
  travelPlan/Source/Feature/Feed/ViewModel/Post/PostCellViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 🏖 Common, 🎨 Style, ✨ Refactor

#98 [Feature] 피드 사용자 여행 후기 작성 버튼 및 로직 구현했습니다.
  travelPlan/Source/Common/View/BaseProfileAreaView.swift
  travelPlan/Source/Feature/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Feature/Feed/Extension/FeedViewModel+AssociatedType.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryView/CategoryView.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/TravelReviewViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/FeedViewModel.swift
  travelPlan/Source/Feature/Profile/ViewController/ProfileViewController.swift
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedPlus.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedPlus.imageset/feedPlusIcon.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedPlus.imageset/feedPlusIcon@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedPlus.imageset/feedPlusIcon@3x.png
  travelPlan/Source/Support/Assets.xcassets/tempPage/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempPage/tempTravelReviewPage.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempPage/tempTravelReviewPage.imageset/tempTravelReviewPage.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 📲 ViewController

#99 [Rebuild] 새로 정한 코드 컨벤션 기반으로 코드 리빌딩 했습니다.
  travelPlan/Source/Feature/Favorite/FavoriteList/Adapter/FavoriteListTableViewAdapter.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteListTableView/FavoriteListHeaderView/FavoriteListHeaderImageViewsConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteListTableView/FavoriteListHeaderView/FavoriteListHeaderViewConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteListTableView/FavoriteListTableViewCellConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Constant/FavoriteViewControllerConstant.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/View/FavoriteListHeaderView/FavoriteListHeaderImageView.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/View/FavoriteListHeaderView/FavoriteListHeaderView.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/View/FavoriteListTableView/FavoriteListTableViewCell.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/ViewController/FavoriteViewController.swift
  travelPlan/Source/Feature/Feed/Adapter/CategoryPageViewAdapter.swift
  travelPlan/Source/Feature/Feed/Constant/FeedNavigationBarConstant.swift
  travelPlan/Source/Feature/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Feature/Feed/Protocol/CategoryPageViewAdapterProtocol/CategoryPageViewDataSource.swift
  travelPlan/Source/Feature/Feed/View/BottomSheet/TravelThemeBottomSheetCell.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryDetailView/CategoryDetailView.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryDetailView/CategoryDetailViewCell.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryPageView.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/TravelMainCategoryView/TravelMainCategoryView.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/TravelMainCategoryView/TravelMainCategoryViewCell.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/TravelMainCategoryView/TravelThemeCollectionView.swift
  travelPlan/Source/Feature/Feed/View/FeedNavigationBar/FeedAppTitleBarItem.swift
  travelPlan/Source/Feature/Feed/View/FeedNavigationBar/FeedNotificationBarItem.swift
  travelPlan/Source/Feature/Feed/View/FeedNavigationBar/FeedPostSearchBarItem.swift
  travelPlan/Source/Feature/Feed/View/PostView/InnerRoundRectReusableView.swift
  travelPlan/Source/Feature/Feed/View/PostView/MoreMenuView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostCell.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostContentAreaView/PostContentAreaView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostHeaderView/PostHeaderInfoView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostHeaderView/PostHeaderSubInfoView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCell/PostHeaderView/PostHeaderView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostCollectionView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostSortingMenuAreaView.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/PostViewBottomSheetViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/TravelReviewViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/TravelThemeBottomSheetViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/CategoryPageViewModel.swift
  travelPlan/Source/Feature/Main/Coordinator/MainCoordinator.swift
  travelPlan/Source/Feature/Main/ViewController/MainTabBarController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🏖 Common, 🎨 Style, ✨ Refactor, 🐾 Coordinator

#104 [Feature] 공통 뷰 primary color tone 기반 각진 레이블, 버튼 구현했습니다.
  travelPlan/Source/Common/Protocol/Toggable.swift
  travelPlan/Source/Common/View/PrimaryColorToneRoundButton.swift
  travelPlan/Source/Common/View/PrimaryColorToneRoundLabel.swift
  travelPlan/Source/Common/ViewController/ViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🏖 Common

#105 [Rebuild] favorite 디렉터리 안에 또하나의 FavoriteList디렉터리를 제거하고 기존 디렉터리 구조 컨벤션을 위해 수정했습니다.
  travelPlan/Source/Feature/Favorite/Adapter/FavoriteTableViewAdapter.swift
  travelPlan/Source/Feature/Favorite/Coordinator/FavoriteCoordinator.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Model/FavoriteListHeaderModel.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Model/FavoriteListTableViewCellModel.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Protocol/FavoriteListTableViewAdapterDataSource.swift
  travelPlan/Source/Feature/Favorite/FavoriteList/Protocol/FavoriteListTableViewAdapterDelegate.swift
  travelPlan/Source/Feature/Favorite/Mock/MockFavoriteListData.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoriteTableViewAdapterDataSource.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoriteTableViewAdapterDelegate.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteHeaderImageViews.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteHeaderView.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteTableView.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteTableViewCell.swift
  travelPlan/Source/Feature/Favorite/ViewController/FavoriteViewController.swift
  travelPlan/Source/Feature/Favorite/ViewModel/FavoriteViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎨 Style, ✨ Refactor

#106 [Feature] 빈 화면일 때 사용되는 공통뷰를 추가했습니다.
  travelPlan/Source/Common/View/EmptyStateView.swift
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/emptyStateStar.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/emptyStateStar.imageset/emptyStateStar.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/emptyStateStar.imageset/emptyStateStar@2x.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/emptyStateStar.imageset/emptyStateStar@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/disabledNotificationBell.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/disabledNotificationBell.imageset/disabledNotificationBell.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/disabledNotificationBell.imageset/disabledNotificationBell@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/disabledNotificationBell.imageset/disabledNotificationBell@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/emptyNotificationBell.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/emptyNotificationBell.imageset/emptyNotificationBell.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/emptyNotificationBell.imageset/emptyNotificationBell@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/emptyNotificationBell.imageset/emptyNotificationBell@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/notification.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/notification.imageset/notification.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/notification.imageset/notification@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/Notification/notification.imageset/notification@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 🏖 Common

#108 [Feature] 재사용 가능한 empty state view가 보여지거나 숨겨지고 메인 컨텐츠가 나올 수 있는 뷰 컨트롤러를 구현했습니다.
  travelPlan/Source/Common/View/EmptyStateBasedContentViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🏖 Common, 📲 ViewController

#109 [Fix] 피드 검색 화면에서 최근 태그 삭제 시, 추천 태그의 위치가 초기화 되는 문제를 해결했습니다.
  travelPlan/Source/Feature/Feed/Extension/PostSearchViewModel+Associatedtype.swift
  travelPlan/Source/Feature/Feed/ViewController/PostSearchViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/PostSearchViewModel.swift
  travelPlan/Source/Feature/Search/View/SearchStarButton.swift
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/star-filled.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/star-filled.imageset/star-filled.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/star-filled.imageset/star-filled@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/star-filled.imageset/star-filled@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🧨 Bug, 😅 Hotfix, 👨‍💻 ViewModel, 📲 ViewController, ✨ Refactor

#113 [Feat] TitleWithButtonHeaderView를 재사용할수 있도록 공통뷰로 추가했습니다.
  travelPlan/Source/Common/Protocol/Delegate/TitleWithButtonHeaderViewDelegate.swift
  travelPlan/Source/Common/View/BaseDestinationView.swift
  travelPlan/Source/Common/View/TitleWithButtonHeaderView.swift
  travelPlan/Source/Feature/Search/Protocol/SearchHeaderViewDelegate.swift
  travelPlan/Source/Feature/Search/View/SearchView.swift
  travelPlan/Source/Feature/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Feature/Search/ViewModel/SearchViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 🏖 Common

#115 [Feature] FavoriteDetailViewController를 구현했습니다.
  .gitattributes
  travelPlan/Source/Common/Extension/Int+.swift
  travelPlan/Source/Common/Extension/UIScrollView+.swift
  travelPlan/Source/Common/Protocol/EmptyStateBasedContentViewCheckable.swift
  travelPlan/Source/Common/View/PrimaryColorToneRoundLabel.swift
  travelPlan/Source/Common/ViewController/EmptyStateBasedContentViewController.swift
  travelPlan/Source/Feature/Favorite/Adapter/FavoritePostViewAdapter.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoriteDetailMenuViewConfigurable.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoritePostViewAdapterDelegate.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoritePostViewDelegate.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteDetailMenuAreaView.swift
  travelPlan/Source/Feature/Favorite/View/FavoritePostCollectionView.swift
  travelPlan/Source/Feature/Favorite/ViewController/FavoriteDetailViewController.swift
  travelPlan/Source/Feature/Favorite/ViewController/FavoriteLocationViewController.swift
  travelPlan/Source/Feature/Favorite/ViewController/FavoritePostViewController.swift
  travelPlan/Source/Feature/Feed/Adapter/PostViewAdapter.swift
  travelPlan/Source/Support/SceneDelegate.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController

#116 [Feature] 찜 화면 폴더 변경 및 추가 화면 구현했습니다.
  travelPlan/Source/Common/View/BottomSheetView.swift
  travelPlan/Source/Common/View/PrimaryColorToneRoundButton.swift
  travelPlan/Source/Common/View/SearchWithCancelView.swift
  travelPlan/Source/Common/ViewController/BaseBottomSheetViewController.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteDirectorySettingView.swift
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/xCircle.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/xCircle.imageset/xCircle.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/xCircle.imageset/xCircle@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/xCircle.imageset/xCircle@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🏖 Common

#117 [Rebuild] favorite view controller 피그마 ui에 맞게 삭제 ui추가 및 코드 리빌딩했습니다.
  travelPlan/Source/Feature/Favorite/Adapter/FavoriteTableViewAdapter.swift
  travelPlan/Source/Feature/Favorite/Mock/MockFavoriteListData.swift
  travelPlan/Source/Feature/Favorite/Mock/MockFavoriteUseCase.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoriteTableViewAdapterDataSource.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoriteTableViewAdapterDelegate.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteHeaderImageViews.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteHeaderView.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteTableView.swift
  travelPlan/Source/Feature/Favorite/View/FavoriteTableViewCell.swift
  travelPlan/Source/Feature/Favorite/ViewController/FavoriteViewController.swift
  travelPlan/Source/Feature/Favorite/ViewModel/FavoriteViewModel.swift
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/deleteMinusIcon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/deleteMinusIcon.imageset/deleteMinusIcon.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/deleteMinusIcon.imageset/deleteMinusIcon@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/deleteMinusIcon.imageset/deleteMinusIcon@3x.png
  travelPlan/Source/Support/Assets.xcassets/cell/Contents.json
  travelPlan/Source/Support/Assets.xcassets/cell/cellMenuAccessory.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/cell/cellMenuAccessory.imageset/cellMenuAccessory.png
  travelPlan/Source/Support/Assets.xcassets/cell/cellMenuAccessory.imageset/cellMenuAccessory@2x.png
  travelPlan/Source/Support/Assets.xcassets/cell/cellMenuAccessory.imageset/cellMenuAccessory@3x.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/folderPlus.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/folderPlus.imageset/folderPlus.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/folderPlus.imageset/folderPlus@2x.png
  travelPlan/Source/Support/Assets.xcassets/favoriteIcon/folderPlus.imageset/folderPlus@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 🎨 Style, ✨ Refactor

#121 [Feature] 더보기 화면의 주요 기능과 UI를 개선했습니다.
  travelPlan/Source/Common/View/BaseDestinationView.swift
  travelPlan/Source/Feature/Search/Model/SearchDetailHeaderInfo.swift
  travelPlan/Source/Feature/Search/Model/SearchDetailHeaderModel.swift
  travelPlan/Source/Feature/Search/View/MainSearchLayoutManager.swift
  travelPlan/Source/Feature/Search/View/SearchDetailHeaderView.swift
  travelPlan/Source/Feature/Search/View/SearchFestivalCell.swift
  travelPlan/Source/Feature/Search/View/SearchMoreDetailLayoutManager.swift
  travelPlan/Source/Feature/Search/View/SearchTopTenCell.swift
  travelPlan/Source/Feature/Search/View/TravelDestinationCell.swift
  travelPlan/Source/Feature/Search/ViewController/SearchMoreDetailViewController.swift
  travelPlan/Source/Feature/Search/ViewModel/SearchMoreDetailViewModel.swift
  travelPlan/Source/Feature/Search/ViewModel/SearchViewModel.swift
  travelPlan/Source/Support/Assets.xcassets/tempSearch/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/camping-more.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/camping-more.imageset/camping-more-thumbnail 1.png
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/camping-more.imageset/camping-more-thumbnail.png
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/festival-more.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/festival-more.imageset/festival-more-thumbnail 1.png
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/festival-more.imageset/festival-more-thumbnail.png
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/topten-more.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/topten-more.imageset/topten-more-thumbnail 1.png
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempThumbnail/topten-more.imageset/topten-more-thumbnail.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🎨 Style, 📲 ViewController

#124 [Feature] 내비게이션의 기본 titleView를 만들었습니다.
  travelPlan/Source/Common/Extension/Preview/UIView+Preview.swift
  travelPlan/Source/Common/Extension/Preview/UIViewController+Preview.swift
  travelPlan/Source/Common/Extension/UIViewController+TitleView.swift
  travelPlan/Source/Common/View/BaseNavigationTitleView.swift
  travelPlan/Source/Feature/Search/ViewController/SearchMoreDetailViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🏖 Common, 📲 ViewController, 🗑 Remove

#126 [Feature] 검색 더보기 화면 스크롤에 따른 내비게이션 UI 업데이트 기능을 최종 추가했습니다.
  travelPlan/Source/Feature/Search/ViewController/SearchMoreDetailViewController.swift
  travelPlan/Source/Feature/Search/ViewModel/TravelDestinationCellViewModel.swift
Labels: 🖥 View, 🎨 Style, 📲 ViewController

#128 [Feature] 검색 상세 화면의 section backgroundView를 추가했습니다.
  travelPlan/Source/Feature/Search/View/LeftAlignThreeLabelsView.swift
  travelPlan/Source/Feature/Search/View/MainSearchLayoutManager.swift
  travelPlan/Source/Feature/Search/View/SearchDetailHeaderView.swift
  travelPlan/Source/Feature/Search/View/SearchMoreDetailLayoutManager.swift
  travelPlan/Source/Feature/Search/View/SearchStarButton.swift
  travelPlan/Source/Feature/Search/ViewController/SearchMoreDetailViewController.swift
Labels: 💡 Feature, 🖥 View, 📲 ViewController

#130 [Fix] Light mode appearance를 적용했습니다.
  travelPlan/Source/Support/Info.plist
Labels: 🏖 Common

#129 [Feature] Network module layer 개발했습니다.
  travelPlan/Podfile
  travelPlan/Podfile.lock
  travelPlan/Pods/Alamofire/README.md
  travelPlan/Pods/Alamofire/Source/AFError.swift
  travelPlan/Pods/Alamofire/Source/Alamofire.swift
  travelPlan/Pods/Alamofire/Source/CachedResponseHandler.swift
  travelPlan/Pods/Alamofire/Source/Combine.swift
  travelPlan/Pods/Alamofire/Source/Concurrency.swift
  travelPlan/Pods/Alamofire/Source/EventMonitor.swift
  travelPlan/Pods/Alamofire/Source/HTTPHeaders.swift
  travelPlan/Pods/Alamofire/Source/MultipartFormData.swift
  travelPlan/Pods/Alamofire/Source/NetworkReachabilityManager.swift
  travelPlan/Pods/Alamofire/Source/ParameterEncoder.swift
  travelPlan/Pods/Alamofire/Source/ParameterEncoding.swift
  travelPlan/Pods/Alamofire/Source/Protected.swift
  travelPlan/Pods/Alamofire/Source/RedirectHandler.swift
  travelPlan/Pods/Alamofire/Source/Request.swift
  travelPlan/Pods/Alamofire/Source/RequestInterceptor.swift
  travelPlan/Pods/Alamofire/Source/RequestTaskMap.swift
  travelPlan/Pods/Alamofire/Source/ResponseSerialization.swift
  travelPlan/Pods/Alamofire/Source/RetryPolicy.swift
  travelPlan/Pods/Alamofire/Source/ServerTrustEvaluation.swift
  travelPlan/Pods/Alamofire/Source/SessionDelegate.swift
  travelPlan/Pods/Alamofire/Source/URLEncodedFormEncoder.swift
  travelPlan/Pods/Alamofire/Source/URLRequest+Alamofire.swift
  travelPlan/Pods/Alamofire/Source/Validation.swift
  travelPlan/Pods/Manifest.lock
  travelPlan/Pods/Pods.xcodeproj/project.pbxproj
  travelPlan/Pods/Target Support Files/Alamofire/Alamofire-Info.plist
  travelPlan/Pods/Target Support Files/Alamofire/Alamofire-dummy.m
  travelPlan/Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
  travelPlan/Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
  travelPlan/Pods/Target Support Files/Alamofire/Alamofire.modulemap
  travelPlan/Source/Common/Extension/Encodable+.swift
  travelPlan/Source/Common/Extension/UIImage+.swift
  travelPlan/Source/Common/Extension/UIImage+JPEGCompress.swift
  travelPlan/Source/Network/Module/Endpoint.swift
  travelPlan/Source/Network/Module/NetwrokInteractionable.swift
  travelPlan/Source/Network/Module/RequestType.swift
  travelPlan/Source/Network/Module/Requestable.swift
  travelPlan/Source/Network/Module/Responsable.swift
  travelPlan/Source/Network/Module/SessionProvider.swift
  travelPlan/Source/Network/Module/Sessionable.swift
  travelPlan/Source/Network/Tests/EndpointTests.swift
  travelPlan/Source/Network/Tests/Mocks/MockModels.swift
  travelPlan/Source/Network/Tests/Mocks/MockSession.swift
  travelPlan/Source/Network/Tests/Mocks/MockUrlProtocol.swift
  travelPlan/Source/Network/Tests/Mocks/MockUserEndpoint.swift
  travelPlan/Source/Network/Tests/SessionProviderTests.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🏖 Common, ✅ Test

#133 [Feature] feed 화면에 정렬 ui 추가했습니다.
  travelPlan/Source/Common/Adapter/PostViewAdapter.swift
  travelPlan/Source/Common/Extension/Notification+.swift
  travelPlan/Source/Common/Model/TravelTheme/FeedPostSearchFilterInfo.swift
  travelPlan/Source/Common/Model/TravelTheme/PostSearchFilterType.swift
  travelPlan/Source/Common/View/BottomSheetView.swift
  travelPlan/Source/Common/View/EmptyStateView.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCollectionView.swift
  travelPlan/Source/Feature/Favorite/Mock/MockFavoriteUseCase.swift
  travelPlan/Source/Feature/Feed/Adapter/FeedPostViewAdapter.swift
  travelPlan/Source/Feature/Feed/Adapter/PostViewBottomSheetAdapter.swift
  travelPlan/Source/Feature/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Feature/Feed/Protocol/CategoryPageViewAdapterProtocol/CategoryPageViewDataSource.swift
  travelPlan/Source/Feature/Feed/Protocol/FeedPostViewModelable.swift
  travelPlan/Source/Feature/Feed/Protocol/PostView/FeedPostViewAdapterDataSource.swift
  travelPlan/Source/Feature/Feed/Protocol/PostView/MoreMenuViewDelegate.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryPageView.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/TravelMainThemeCategoryView/TravelMainCategoryViewCell.swift
  travelPlan/Source/Feature/Feed/View/PostView/MoreMenuView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostChevronLabel.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostSortingAreaView.swift
  travelPlan/Source/Feature/Feed/View/PostView/PostSortingMenuAreaView.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/PostFilteringBottomSheetViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/TravelDetailThemeViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/CategoryPageViewModel.swift
  travelPlan/Source/Feature/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedChevron.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedChevron.imageset/feedMore.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedChevron.imageset/feedMore@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/feedChevron.imageset/feedMore@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, ✨ Refactor

#134 [Feature] 알림센터 화면 헤더부분인 segmented control을 추가했습니다: ]
  travelPlan/Source/Common/View/RedIconBasedUnderbarSegmentedControl.swift
  travelPlan/Source/Feature/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Notification/Coordinator/NotificationCenterCoordinator.swift
  travelPlan/Source/Feature/Notification/ViewController/NotificationCenterViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 🏖 Common, 📲 ViewController

#136 [Feature] 알림센터 화면의 공지사항화면 notice page 구현했습니다: ]
  .gitignore
  travelPlan/Source/Common/Extension/Bool+.swift
  travelPlan/Source/Data/Network/NotificationAPIEndpoints.swift
  travelPlan/Source/Data/Network/ResponseDTO/NoticeResponseDTO.swift
  travelPlan/Source/Data/Repositories/DefaultNotificationRepository.swift
  travelPlan/Source/Domain/Entities/NoticeEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/NotificationRepository.swift
  travelPlan/Source/Domain/UseCases/DefaultNoticeUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/NoticeUseCase.swift
  travelPlan/Source/Feature/Main/ViewController/MainTabBarController.swift
  travelPlan/Source/Feature/Notification/Adapter/NoticeViewAdapter.swift
  travelPlan/Source/Feature/Notification/Coordinator/NotificationCenterCoordinator.swift
  travelPlan/Source/Feature/Notification/Protocol/NoticeViewAdapterDataSource.swift
  travelPlan/Source/Feature/Notification/Protocol/NoticeViewAdapterDelegate.swift
  travelPlan/Source/Feature/Notification/Protocol/NoticeViewModelable.swift
  travelPlan/Source/Feature/Notification/View/NoticeCell.swift
  travelPlan/Source/Feature/Notification/ViewController/NoticeViewController.swift
  travelPlan/Source/Feature/Notification/ViewController/NotificationCenterViewController.swift
  travelPlan/Source/Feature/Notification/ViewController/NotificationViewController.swift
  travelPlan/Source/Feature/Notification/ViewModel/NoticeViewModel.swift
  travelPlan/Source/Local/MockJson/mock_response_notice.json
  travelPlan/Source/Local/MockUrlProtocol+.swift
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/chevron.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/chevron.imageset/chevron.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/chevron.imageset/chevron@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/chevron.imageset/chevron@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 🎁 Repository, 🏖 Common, 📲 ViewController, ✨ Refactor, 🐾 Coordinator

#137 [Feature] 앱 시작 화면인 로그인 화면을 구현했습니다.
  travelPlan/Pods/Pods.xcodeproj/project.pbxproj
  travelPlan/Source/Common/Extension/NSRange+.swift
  travelPlan/Source/Common/Extension/UIColor+AppPalette.swift
  travelPlan/Source/Common/Manager/LoginPlayerManager.swift
  travelPlan/Source/Common/View/BaseDestinationView.swift
  travelPlan/Source/Common/View/BaseLoginButton.swift
  travelPlan/Source/Feature/ApplicationCoordinator.swift
  travelPlan/Source/Feature/Authentication/Login/Extension/LoginViewModel+Associatedtype.swift
  travelPlan/Source/Feature/Authentication/Login/Protocol/LoginButtonDelegate.swift
  travelPlan/Source/Feature/Authentication/Login/View/AppleLoginButton.swift
  travelPlan/Source/Feature/Authentication/Login/View/GoogleLoginButton.swift
  travelPlan/Source/Feature/Authentication/Login/View/KakaoLoginButton.swift
  travelPlan/Source/Feature/Authentication/Login/View/LoginStartView.swift
  travelPlan/Source/Feature/Authentication/Login/View/LoginView.swift
  travelPlan/Source/Feature/Authentication/Login/ViewController/LoginViewController.swift
  travelPlan/Source/Feature/Authentication/Login/ViewModel/LoginViewModel.swift
  travelPlan/Source/Feature/Feed/View/PostSearch/PostSearchCollectionViewAdapter.swift
  travelPlan/Source/Feature/Feed/View/PostSearch/PostSearchCollectionViewManager.swift
  travelPlan/Source/Feature/Feed/ViewController/PostSearchViewController.swift
  travelPlan/Source/Support/Assets.xcassets/AppIcon.appiconset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/AppIcon.appiconset/yeoga-AppIcon.png
  travelPlan/Source/Support/Assets.xcassets/appLogo/Contents.json
  travelPlan/Source/Support/Assets.xcassets/appLogo/airplane-logo.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/appLogo/airplane-logo.imageset/airplane-logo.png
  travelPlan/Source/Support/Assets.xcassets/appLogo/airplane-logo.imageset/airplane-logo@2x.png
  travelPlan/Source/Support/Assets.xcassets/appLogo/airplane-logo.imageset/airplane-logo@3x.png
  travelPlan/Source/Support/Assets.xcassets/appLogo/yeoga-logo.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/appLogo/yeoga-logo.imageset/yeoga-logo.png
  travelPlan/Source/Support/Assets.xcassets/appLogo/yeoga-logo.imageset/yeoga-logo@2x.png
  travelPlan/Source/Support/Assets.xcassets/appLogo/yeoga-logo.imageset/yeoga-logo@3x.png
  travelPlan/Source/Support/Assets.xcassets/login/Contents.json
  travelPlan/Source/Support/Assets.xcassets/login/apple-icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/login/apple-icon.imageset/apple-icon.png
  travelPlan/Source/Support/Assets.xcassets/login/apple-icon.imageset/apple-icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/login/apple-icon.imageset/apple-icon@3x.png
  travelPlan/Source/Support/Assets.xcassets/login/google-icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/login/google-icon.imageset/google-icon.png
  travelPlan/Source/Support/Assets.xcassets/login/google-icon.imageset/google-icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/login/google-icon.imageset/google-icon@3x.png
  travelPlan/Source/Support/Assets.xcassets/login/kakao-icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/login/kakao-icon.imageset/kakao-icon.png
  travelPlan/Source/Support/Assets.xcassets/login/kakao-icon.imageset/kakao-icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/login/kakao-icon.imageset/kakao-icon@3x.png
  travelPlan/Source/Support/Assets.xcassets/onboarding/Contents.json
  travelPlan/Source/Support/Assets.xcassets/onboarding/arrow-up-onboarding.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/onboarding/arrow-up-onboarding.imageset/arrow-up-onboarding.png
  travelPlan/Source/Support/Assets.xcassets/onboarding/arrow-up-onboarding.imageset/arrow-up-onboarding@2x.png
  travelPlan/Source/Support/Assets.xcassets/onboarding/arrow-up-onboarding.imageset/arrow-up-onboarding@3x.png
  travelPlan/Source/Support/Assets.xcassets/onboarding/go-onboarding.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/onboarding/go-onboarding.imageset/go-onboarding.png
  travelPlan/Source/Support/Assets.xcassets/onboarding/go-onboarding.imageset/go-onboarding@2x.png
  travelPlan/Source/Support/Assets.xcassets/onboarding/go-onboarding.imageset/go-onboarding@3x.png
  travelPlan/Source/Support/SceneDelegate.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 👨‍💻 ViewModel, 🏖 Common, 🎨 Style, 📲 ViewController
