Repository IF-TG/iOS, pull requests merged in 2023-11, with the labels that each got.

#138 [Rebuild] Video관련 불필요한 싱글톤 패턴을 제거하고 Supporter 객체로 수정했습니다.
  travelPlan/Source/Feature/ApplicationCoordinator.swift
  travelPlan/Source/Feature/Authentication/Login/Supporter/LoginPlayerSupporter.swift
  travelPlan/Source/Feature/Authentication/Login/ViewController/LoginViewController.swift
  travelPlan/Source/Support/SceneDelegate.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: ✨ Enhancement

#142 [Feature] 마이 프로필 탭 메인 설정 화면 개발했습니다.
  travelPlan/Source/Common/Extension/CALayer+.swift
  travelPlan/Source/Common/Extension/NSMutableAttributedString+.swift
  travelPlan/Source/Feature/Profile/Coordinator/ProfileCoordinator.swift
  travelPlan/Source/Feature/Profile/View/SettingTopSheetView.swift
  travelPlan/Source/Feature/Profile/ViewController/ProfileViewController+SettingType.swift
  travelPlan/Source/Feature/Profile/ViewController/ProfileViewController.swift
  travelPlan/Source/Feature/Profile/ViewController/SettingViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 📲 ViewController, 🖋 Concept

#144 [Feature] 포스트 상세 화면 포스트 제목 영역 및 포스트 내용 ui 구현했습니다.
  travelPlan/Source/Common/Adapter/PostViewAdapter.swift
  travelPlan/Source/Common/Model/Post/PostInfo.swift
  travelPlan/Source/Common/View/BaseProfileAreaView.swift
  travelPlan/Source/Common/ViewModel/PostViewModel.swift
  travelPlan/Source/Feature/Favorite/Adapter/FavoritePostViewAdapter.swift
  travelPlan/Source/Feature/Favorite/Protocol/FavoritePostViewAdapterDelegate.swift
  travelPlan/Source/Feature/Favorite/ViewController/FavoritePostViewController.swift
  travelPlan/Source/Feature/Feed/Adapter/FeedPostViewAdapter.swift
  travelPlan/Source/Feature/Feed/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Feature/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Feature/Feed/Protocol/PostDetailCategoryHeaderViewDelegate.swift
  travelPlan/Source/Feature/Feed/Protocol/PostDetailTableViewAdapterDelegate.swift
  travelPlan/Source/Feature/Feed/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Feature/Feed/Protocol/PostView/PostViewAdapterDelegate.swift
  travelPlan/Source/Feature/Feed/View/CategoryPageView/CategoryPageView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailCategoryHeaderView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailContentFooterView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailContentImageCell.swift
  travelPlan/Source/Feature/Feed/View/PostDetailContentInfo.swift
  travelPlan/Source/Feature/Feed/View/PostDetailContentTextCell.swift
  travelPlan/Source/Feature/Feed/View/PostDetailProfileAreaFooterView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailProfileAreaView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailTitleCell.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/PostDetailViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 📲 ViewController

#146 [Feature] 포스트 상세 화면 comment section UI 구현했습니다.
  travelPlan/Source/Common/Extension/UIViewController+.swift
  travelPlan/Source/Common/View/BaseLabel.swift
  travelPlan/Source/Common/View/BaseProfileAreaView.swift
  travelPlan/Source/Domain/Entities/PostCommentEntity.swift
  travelPlan/Source/Domain/Entities/PostReplyEntity.swift
  travelPlan/Source/Feature/Feed/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Feature/Feed/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Feature/Feed/View/BasePostDetailCommentableView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailCommentHeader.swift
  travelPlan/Source/Feature/Feed/View/PostDetailContentFooterView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailProfileAreaFooterView.swift
  travelPlan/Source/Feature/Feed/View/PostDetailReplyCell.swift
  travelPlan/Source/Feature/Feed/ViewController/PostDetailViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/PostDetailViewModel.swift
  travelPlan/Source/Support/Assets.xcassets/feedIcon/commentDot.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/commentDot.imageset/commentDot.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/commentDot.imageset/commentDot@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/commentDot.imageset/commentDot@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/cornerDownRight.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/cornerDownRight.imageset/cornerDownRight.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/cornerDownRight.imageset/cornerDownRight@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/cornerDownRight.imageset/cornerDownRight@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 📲 ViewController

#145 [Feature] 리뷰 작성 화면을 일부 구현했습니다.
  travelPlan/Source/Common/View/NavigationTitleWithClickView.swift
  travelPlan/Source/Feature/ApplicationCoordinator.swift
  travelPlan/Source/Feature/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Feature/Feed/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Feature/Feed/Protocol/ReviewWriting/ReviewWritingBottomViewDelegate.swift
  travelPlan/Source/Feature/Feed/Protocol/ReviewWriting/ReviewWritingContentViewDelegate.swift
  travelPlan/Source/Feature/Feed/View/ReviewWriting/ReviewWritingBottomView.swift
  travelPlan/Source/Feature/Feed/View/ReviewWriting/ReviewWritingContentView.swift
  travelPlan/Source/Feature/Feed/View/ReviewWriting/ReviewWritingPlanView.swift
  travelPlan/Source/Feature/Feed/ViewController/ReviewWritingViewController.swift
  travelPlan/Source/Feature/Feed/ViewController/TravelReviewViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/ReviewWritingViewModel.swift
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/alert-circle.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/alert-circle.imageset/alert-circle.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/alert-circle.imageset/alert-circle@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/alert-circle.imageset/alert-circle@3x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/camera.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/camera.imageset/camera.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/camera.imageset/camera@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/camera.imageset/camera@3x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/keyboard.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/keyboard.imageset/keyboard.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/keyboard.imageset/keyboard@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/keyboard.imageset/keyboard@3x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/map.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/map.imageset/map.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/map.imageset/map@2x.png
  travelPlan/Source/Support/Assets.xcassets/buttonIcon/map.imageset/map@3x.png
  travelPlan/Source/Support/Info.plist
  travelPlan/Source/Support/SceneDelegate.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🏖 Common, 📲 ViewController

#149 [Rebuild] 피드의 폴더 구조를 변경했습니다.
  travelPlan/Source/Core/Network/Module/Endpoint.swift
  travelPlan/Source/Core/Network/Module/NetwrokInteractionable.swift
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Core/Network/Module/Requestable.swift
  travelPlan/Source/Core/Network/Module/Responsable.swift
  travelPlan/Source/Core/Network/Module/SessionProvider.swift
  travelPlan/Source/Core/Network/Module/Sessionable.swift
  travelPlan/Source/Core/Network/Tests/EndpointTests.swift
  travelPlan/Source/Core/Network/Tests/Mocks/MockModels.swift
  travelPlan/Source/Core/Network/Tests/Mocks/MockSession.swift
  travelPlan/Source/Core/Network/Tests/Mocks/MockUrlProtocol.swift
  travelPlan/Source/Core/Network/Tests/Mocks/MockUserEndpoint.swift
  travelPlan/Source/Core/Network/Tests/SessionProviderTests.swift
  travelPlan/Source/Feature/Feed/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Feature/Feed/PostDetail/Protocol/PostDetailCategoryHeaderViewDelegate.swift
  travelPlan/Source/Feature/Feed/PostDetail/Protocol/PostDetailTableViewAdapterDelegate.swift
  travelPlan/Source/Feature/Feed/PostDetail/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/BasePostDetailCommentableView.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailCategoryHeaderView.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailCommentHeader.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailContentFooterView.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailContentImageCell.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailContentInfo.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailContentTextCell.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailInputAccessoryWrapper.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailProfileAreaFooterView.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailProfileAreaView.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailReplyCell.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostDetailTitleCell.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostProfileAndCommentView.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostViewBottomSheetCell.swift
  travelPlan/Source/Feature/Feed/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Feature/Feed/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎨 Style, ✨ Rebuild

#150 [Feature] cache객체, 파일메니저를 통해 image를 disk cache하기 위한 객체를 구현했습니다.
  travelPlan/Source/Core/Cache/Module/Cache+Nested.swift
  travelPlan/Source/Core/Cache/Module/Cache.swift
  travelPlan/Source/Core/Cache/Module/ImageDiskCache.swift
  travelPlan/Source/Core/Cache/Module/ImageMemoryCachable.swift
  travelPlan/Source/Core/Cache/Module/ImageMemoryCache.swift
  travelPlan/Source/Core/Cache/Tests/ImageDiskCacheTests.swift
  travelPlan/Source/Core/Image/ImageConverter.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🏖 Common

#151 [Feature] 이미지 다운샘플링 객체 추가했습니다.
  travelPlan/Source/Core/ImageIO/Module/ImageIO+Nested.swift
  travelPlan/Source/Core/ImageIO/Module/ImageIO.swift
  travelPlan/Source/Core/ImageIO/Tests/ImageIOTests.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🏖 Common

#154 [Fix] 플랜 작성 나머지 기능 추가 및, 기타 버그들을 개선했습니다.
  travelPlan/Source/Core/Cache/Module/ImageMemoryCache.swift
  travelPlan/Source/Feature/Feed/Protocol/ReviewWriting/PictureImageViewDelegate.swift
  travelPlan/Source/Feature/Feed/View/ReviewWriting/PictureImageView.swift
  travelPlan/Source/Feature/Feed/View/ReviewWriting/ReviewWritingContentView.swift
  travelPlan/Source/Feature/Feed/ViewController/ReviewWritingViewController.swift
  travelPlan/Source/Feature/Feed/ViewModel/ReviewWritingViewModel.swift
  travelPlan/Source/Feature/Search/Model/SearchCampingModel.swift
  travelPlan/Source/Feature/Search/Model/SearchDetailHeaderInfo.swift
  travelPlan/Source/Feature/Search/ViewController/SearchMoreDetailViewController.swift
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/성심당.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/성심당.imageset/성심당.jpeg
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/오씨칼국수.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/오씨칼국수.imageset/오씨칼국수.jpeg
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/온천집.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/온천집.imageset/온천집.jpeg
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/태평소국밥.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/tempSearch/tempList/태평소국밥.imageset/태평소국밥.jpeg
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: ✨ Enhancement, 💡 Feature, 🙋‍♂️ Question, 🖥 View, 🏖 Common, 🎨 Style, 📲 ViewController, 🍣 Fix

#155 [Fix] 실제 기기에서 실행할 경우 snapkit dynamic error를 수정했습니다.
  travelPlan/Source/Common/View/BottomSheetView.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🍣 Fix

#153 [Rebuild] Feed 탭의 포스트 뷰 셀을 하나에서 처리하는게 아닌 여러 경우의 셀로 처리하도록 했습니다.
  travelPlan/Source/Common/Adapter/PostViewAdapter.swift
  travelPlan/Source/Common/Extension/UIStackView+Helpers.swift
  travelPlan/Source/Common/Mock/MockPostUseCase.swift
  travelPlan/Source/Common/Model/Post/PostThumbnailType.swift
  travelPlan/Source/Common/Protocol/CellConfigurable.swift
  travelPlan/Source/Common/Protocol/PostCellConfigurable.swift
  travelPlan/Source/Common/Protocol/PostViewAdapterDataSource.swift
  travelPlan/Source/Common/View/BaseDestinationView.swift
  travelPlan/Source/Common/View/PostCollectionView/BasePostView.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCell.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCellWithFiveThumbnails.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCellWithFourThumbnails.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCellWithOneThumbnail.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCellWithThreeThumbnails.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCellWithTwoThumbnails.swift
  travelPlan/Source/Common/View/PostCollectionView/PostCollectionView.swift
  travelPlan/Source/Common/View/PostCollectionView/PostContentView.swift
  travelPlan/Source/Common/View/PostCollectionView/PostThumbnailView.swift
  travelPlan/Source/Common/ViewModel/PostViewModel.swift
  travelPlan/Source/Domain/Entities/PostThumbnailValue.swift
  travelPlan/Source/Feature/Search/View/LeftAlignThreeLabelsView.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🏖 Common, ✨ Rebuild

#156 [Rebuild] bottom sheet view 상단부 높이 및 radius직접 지정할 수 있도록 개선했습니다.
  travelPlan/Source/Common/View/BottomSheetView.swift
  travelPlan/Source/Common/ViewController/BaseBottomSheetViewController.swift
  travelPlan/Source/Feature/Favorite/Coordinator/FavoriteCoordinator.swift
  travelPlan/Source/Feature/Feed/ViewController/PostFilteringBottomSheetViewController.swift
Labels: 🖥 View, 🏖 Common

#157 [Feature] 내 정보 화면 ui 구현했습니다.
  travelPlan/Source/Core/Cache/Module/ImageMemoryCachable.swift
  travelPlan/Source/Core/Cache/Module/ImageMemoryCache.swift
  travelPlan/Source/Feature/Profile/Coordinator/ProfileCoordinator.swift
  travelPlan/Source/Feature/Profile/View/ConnectedSNSStackView.swift
  travelPlan/Source/Feature/Profile/View/SettingMyProfileView.swift
  travelPlan/Source/Feature/Profile/View/SettingUserNameTextField.swift
  travelPlan/Source/Feature/Profile/ViewController/MyInformationViewController.swift
  travelPlan/Source/Feature/Profile/ViewController/ProfileViewController+SettingType.swift
  travelPlan/Source/Feature/Profile/ViewController/SettingViewController.swift
  travelPlan/Source/Support/Assets.xcassets/setting/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/apple-logo-small.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/apple-logo-small.imageset/apple-logo-small.png
  travelPlan/Source/Support/Assets.xcassets/setting/apple-logo-small.imageset/apple-logo-small@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/apple-logo-small.imageset/apple-logo-small@3x.png
  travelPlan/Source/Support/Assets.xcassets/setting/cameraIcon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/cameraIcon.imageset/cameraIcon.png
  travelPlan/Source/Support/Assets.xcassets/setting/cameraIcon.imageset/cameraIcon@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/cameraIcon.imageset/cameraIcon@3x.png
  travelPlan/Source/Support/Assets.xcassets/setting/defaultProfileIcon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/defaultProfileIcon.imageset/defaultProfileIcon.png
  travelPlan/Source/Support/Assets.xcassets/setting/defaultProfileIcon.imageset/defaultProfileIcon@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/defaultProfileIcon.imageset/defaultProfileIcon@3x.png
  travelPlan/Source/Support/Assets.xcassets/setting/google-logo-small.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/google-logo-small.imageset/google-icon-small.png
  travelPlan/Source/Support/Assets.xcassets/setting/google-logo-small.imageset/google-icon-small@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/google-logo-small.imageset/google-icon-small@3x.png
  travelPlan/Source/Support/Assets.xcassets/setting/kakao-logo-small.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/kakao-logo-small.imageset/kakao-small.png
  travelPlan/Source/Support/Assets.xcassets/setting/kakao-logo-small.imageset/kakao-small@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/kakao-logo-small.imageset/kakao-small@3x.png
  travelPlan/Source/Support/Assets.xcassets/setting/v-circle-success.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/v-circle-success.imageset/v-circle-success.png
  travelPlan/Source/Support/Assets.xcassets/setting/v-circle-success.imageset/v-circle-success@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/v-circle-success.imageset/v-circle-success@3x.png
  travelPlan/Source/Support/Assets.xcassets/setting/x-circle-delete.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/x-circle-delete.imageset/x-circle-delete.png
  travelPlan/Source/Support/Assets.xcassets/setting/x-circle-delete.imageset/x-circle-delete@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/x-circle-delete.imageset/x-circle-delete@3x.png
  travelPlan/Source/Support/Info.plist
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 📲 ViewController

#158 [Feature] 설정탭의 이용안내 화면을 구현했습니다.
  travelPlan/Source/Feature/Profile/Coordinator/ProfileCoordinator.swift
  travelPlan/Source/Feature/Profile/ViewController/BaseSettingViewController.swift
  travelPlan/Source/Feature/Profile/ViewController/MyInformationViewController.swift
  travelPlan/Source/Feature/Profile/ViewController/OperationGuideViewController.swift
  travelPlan/Source/Feature/Profile/ViewController/SettingViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 📲 ViewController

#159 [Feature] 설정 탭의 이용안내 화면 -> 메일 전송 기능을 추가했습니다.
  travelPlan/.swiftlint.yml
  travelPlan/Source/Common/CombineCocoa/UIGestureRecognizer+Combine.swift
  travelPlan/Source/Common/CombineCocoa/UIGestureRecognizer+GestureType.swift
  travelPlan/Source/Common/CombineCocoa/UIView+Combine.swift
  travelPlan/Source/Common/CombineCocoa/UIView+WrapperPublisher.swift
  travelPlan/Source/Common/Extension/Bundle+Helpers.swift
  travelPlan/Source/Common/Extension/UIDevice+modelName.swift
  travelPlan/Source/Common/View/IconWithLabelStackView.swift
  travelPlan/Source/Common/View/PostCollectionView/PostFooterView.swift
  travelPlan/Source/Domain/Entities/SettingType.swift
  travelPlan/Source/Feature/Feed/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Feature/Profile/Coordinator/ProfileCoordinator.swift
  travelPlan/Source/Feature/Profile/ViewController/CustomerServiceViewController.swift
  travelPlan/Source/Feature/Profile/ViewController/SettingViewController.swift
  travelPlan/Source/Support/Assets.xcassets/setting/mail-icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/setting/mail-icon.imageset/mail-icon.png
  travelPlan/Source/Support/Assets.xcassets/setting/mail-icon.imageset/mail-icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/setting/mail-icon.imageset/mail-icon@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🏖 Common, 📲 ViewController
