Repository IF-TG/iOS, pull requests merged in 2024-06, with the labels that each got.

#247 [Rebuild] 재사용가능한 뷰를 선언하고 불러올 때 중복되는 함수들을 줄이도록 리빌딩 했습니다.
  travelPlan/Source/Common/Protocol/CellIdentifiable.swift
  travelPlan/Source/Common/Protocol/CellReusable.swift
  travelPlan/Source/Common/Protocol/HeaderFooterViewIdentifiable.swift
  travelPlan/Source/Common/Protocol/HeaderFooterViewResuable.swift
  travelPlan/Source/Common/Protocol/ScrollableViewRegister.swift
  travelPlan/Source/Data/Repositories/Server/DefaultUserBlockRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockTourIntroductionInfoRepository.swift
  travelPlan/Source/Domain/Tests/Mock/Post/MockPostFetchUseCase.swift
  travelPlan/Source/Domain/Tests/Mock/Post/MockPostsGeneratorForPaging.swift
  travelPlan/Source/Presentation/Favorite/Adapter/FavoriteTableViewAdapter.swift
  travelPlan/Source/Presentation/Favorite/Protocol/FavoriteTableViewAdapterDataSource.swift
  travelPlan/Source/Presentation/Favorite/View/FavoriteHeaderView.swift
  travelPlan/Source/Presentation/Favorite/View/FavoriteTableViewCell.swift
  travelPlan/Source/Presentation/Favorite/ViewController/FavoriteViewController.swift
  travelPlan/Source/Presentation/Favorite/ViewModel/FavoriteInfo.swift
  travelPlan/Source/Presentation/Favorite/ViewModel/FavoriteViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewController/PostViewBottomSheetViewController.swift
  travelPlan/Source/Presentation/Post/Adapter/PostViewAdapter.swift
  travelPlan/Source/Presentation/Post/Protocol/PostCellLayouter.swift
  travelPlan/Source/Presentation/Post/Protocol/PostViewDelegatable.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFiveThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFourThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithOneThumbnail.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithThreeThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithTwoThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCollectionView.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Extension/PostDetailViewController+TableViewHelpers.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCategoryHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentFooterView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentImageCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentTextCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailDeletedOrUnknwonCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaFooterView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailReplyCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailTitleCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostViewBottomSheetCell.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchResultListViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: ✨ Enhancement, 🏖 Common, 🎨 Style, ✨ Rebuild

#248 [Feature] Swinject를 활용한 DI container 구현했습니다. AppDIContainer 활용 개념 및 필요한 개념들을 소개했습니다.
  travelPlan/.swiftlint.yml
  travelPlan/Source/Application/AppDelegate+AppsFlyerHelpers.swift
  travelPlan/Source/Application/AppDelegate.swift
  travelPlan/Source/Application/ApplicationCoordinator.swift
  travelPlan/Source/Application/DIContainer/AppDIContainer+Resolver.swift
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Application/DIContainer/Container+.swift
  travelPlan/Source/Application/DIContainer/Dependency.swift
  travelPlan/Source/Application/DIContainer/Resolver+.swift
  travelPlan/Source/Application/DIContainer/ServiceName.swift
  travelPlan/Source/Application/SceneDelegate.swift
  travelPlan/Source/Common/Utils/DebugHelpers.swift
  travelPlan/Source/Core/Assembly/CoreAssembly.swift
  travelPlan/Source/Data/Assembly/FirebaseRepositoryAssembly.swift
  travelPlan/Source/Data/Assembly/PersistentStorageAssembly.swift
  travelPlan/Source/Data/Assembly/SpringServierRepository.swift
  travelPlan/Source/Data/Assembly/TourRepositoryAssembly.swift
  travelPlan/Source/Data/Repositories/Firestore/PostComment/FirestorePostCommentRepository.swift
  travelPlan/Source/Data/Repositories/Firestore/PostComment/FirestorePostNestedCommentRepository.swift
  travelPlan/Source/Data/Repositories/Firestore/PostHeart/FirestorePostCommentHeartRepository.swift
  travelPlan/Source/Data/Repositories/Firestore/PostHeart/FirestorePostHeartRepository.swift
  travelPlan/Source/Data/Repositories/Firestore/PostHeart/FirestorePostNestedCommentHeartRepository.swift
  travelPlan/Source/Data/Repositories/Firestore/User/FirestoreUserProfileRepository.swift
  travelPlan/Source/Data/Repositories/Firestore/User/FirestoreUserProfileSettingRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Authentication/DefaultLoginRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/FavoriteDirectory/DefaultFavoritePostInDirectoryRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Notification/DefaultNotificationRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Post/DefaultPostRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Post/DefaultReviewWritingRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/PostComment/DefaultPostCommentRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/PostComment/DefaultPostNestedCommentRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/User/DefaultLoggedInUserRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/User/DefaultUserBlockRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/User/DefaultUserProfileRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/User/DefaultUserProfileSettingRepository.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationFeedAssembly.swift
  travelPlan/Source/Presentation/Favorite/ViewController/FavoriteDetailViewController.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Login/Coordinator/LoginCoordinator.swift
  travelPlan/Source/Presentation/Main/Coordinator/MainCoordinator.swift
  travelPlan/Source/Presentation/Post/Protocol/PostCellLayouter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/Setting/Coordinator/MyInformationCoordinator.swift
  travelPlan/Source/Presentation/Setting/Coordinator/SettingCoordinator.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🏖 Common, 🖋 Concept, 🐾 Coordinator, 🥳 Library

#249 [Feature] 검색결과리스트화면 및 여행지상세화면 UI 추가 구현
  travelPlan/Source/Common/Extension/UIKit+/UIViewController+.swift
  travelPlan/Source/Common/Protocol/CellIdentifiable.swift
  travelPlan/Source/Common/Protocol/CellReusable.swift
  travelPlan/Source/Common/Protocol/HeaderFooterViewIdentifiable.swift
  travelPlan/Source/Common/Protocol/HeaderFooterViewResuable.swift
  travelPlan/Source/Common/Protocol/ScrollableViewRegister.swift
  travelPlan/Source/Common/TempSource.swift
  travelPlan/Source/Common/View/LandscapeToastView.swift
  travelPlan/Source/Presentation/Favorite/View/FavoriteHeaderView.swift
  travelPlan/Source/Presentation/Favorite/View/FavoriteTableViewCell.swift
  travelPlan/Source/Presentation/Feed/Coordinator/PostSearchCoordiantor.swift
  travelPlan/Source/Presentation/Feed/View/PostSearch/TagCell/PostRecommendationSearchHeaderView.swift
  travelPlan/Source/Presentation/Feed/ViewController/PostSearchViewController.swift
  travelPlan/Source/Presentation/Feed/ViewController/ReviewWritingViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/PostSearchViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewModel/SearchType.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFiveThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFourThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithOneThumbnail.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithThreeThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithTwoThumbnails.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCategoryHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentFooterView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentImageCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentTextCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailDeletedOrUnknwonCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaFooterView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailReplyCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailTitleCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostViewBottomSheetCell.swift
  travelPlan/Source/Presentation/Search/Coordinator/SearchCoordinator.swift
  travelPlan/Source/Presentation/Search/Coordinator/SearchResultListCoordinator.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationCollectionViewLayout.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationContentCell.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationTitleCell.swift
  travelPlan/Source/Presentation/Search/View/SearchResultCategoryCell.swift
  travelPlan/Source/Presentation/Search/View/TravelDestinationCell.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchDestinationViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchMoreDetailViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchResultListViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Presentation/Search/ViewModel/Info/TravelDestinationCategoryInfo.swift
  travelPlan/Source/Presentation/Search/ViewModel/Info/TravelDestinationInfo.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchDestinationViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchMoreDetailViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchResultListViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, 🐾 Coordinator

#250 [Feature] 여행상세정보 이미지를 보여주는 헤더뷰 구현
  travelPlan/Source/Common/TempSource.swift
  travelPlan/Source/Common/View/LandscapeToastView.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationCollectionViewLayout.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationHeaderView.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationImageCell.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationTitleCell.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchDestinationViewController.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchDestinationViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController

#252 [Feature] 피드 여행 후기 상세 화면 공유 버튼 클릭시 activity view 연동했습니다.
  travelPlan/.swiftlint.yml
  travelPlan/Source/Application/DIContainer/AppDIContainer+Resolver.swift
  travelPlan/Source/Common/Protocol/ScrollableViewRegister.swift
  travelPlan/Source/Core/Assembly/CoreAssembly.swift
  travelPlan/Source/Data/Assembly/FirebaseRepositoryAssembly.swift
  travelPlan/Source/Data/Assembly/PersistentStorageAssembly.swift
  travelPlan/Source/Data/Assembly/SpringServierRepository.swift
  travelPlan/Source/Data/Assembly/TourRepositoryAssembly.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchViewController.swift
Labels: 👨‍💻 ViewModel, 🏖 Common, 📲 ViewController

#254 [Feature] 알림센터 화면에서 공지사항 firestore활용해 구현 및 DIC에 등록했습니다.
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Application/DIContainer/Dependency.swift
  travelPlan/Source/Common/XCTest/Extension/Combine+XCTestHelpers.swift
  travelPlan/Source/Data/Assembly/FirebaseRepositoryAssembly.swift
  travelPlan/Source/Data/Assembly/SpringServierRepositoryAssembly.swift
  travelPlan/Source/Data/Common/Firebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Network/Firestore/FirestoreWhatsNewNotificaitonEndpoint.swift
  travelPlan/Source/Data/Network/Firestore/ResponseDTO/WhatsNewNotificationResponseDTO.swift
  travelPlan/Source/Data/Network/Tests/PostCommentAPIEndpointTests.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestoreWhatsNewNotificationRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Notification/DefaultWhatsNewNotificationRepository.swift
  travelPlan/Source/Data/Tests/FirestorePostAtomicCommentRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestorePostCommentHeartRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestorePostHeartRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestorePostNestedCommentHeartRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestorePostNestedCommentRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestoreUserBlockRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestoreWhatsNewNotificationRepoTests.swift
  travelPlan/Source/Data/Tests/Mock/InterceptedWhatsNewNotificationRepository.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Entities/TravelCategory/TravelMainThemeType.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Notification/NotificationRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Notification/WhatsNewNotificationRepository.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostCommentsAndPostLikeStateFetchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostHeartUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostComment/PostCommentHeartUseCaseImplTests.swift
  travelPlan/Source/Domain/Tests/PostComment/PostCommentHeartUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostComment/PostCommentUseCaseImplTests.swift
  travelPlan/Source/Domain/Tests/PostComment/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostComment/PostNestedCommentHeartUseCaseImplTests.swift
  travelPlan/Source/Domain/Tests/PostComment/PostNestedCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Stub/Post/StubOwnerHeartPostRepository.swift
  travelPlan/Source/Domain/Tests/Stub/Post/StubPostFetchAtomicRepository.swift
  travelPlan/Source/Domain/Tests/Stub/Post/StubPostHeartRepository.swift
  travelPlan/Source/Domain/Tests/Stub/PostComment/StubPostAtomicCommentRepository.swift
  travelPlan/Source/Domain/Tests/Stub/PostComment/StubPostAtomicNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/Stub/PostComment/StubPostCommentHeartRepository.swift
  travelPlan/Source/Domain/Tests/Stub/PostComment/StubPostNestedCommentHeartRepository.swift
  travelPlan/Source/Domain/Tests/User/UserBlockUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultNoticeUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/NoticeUseCase.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Notification/Coordinator/NotificationCenterCoordinator.swift
  travelPlan/Source/Presentation/Notification/ViewModel/NoticeViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Presentation/CoordinatorDeallocTests.swift
Labels: 🖥 View, 👨‍💻 ViewModel, 🎁 Repository, 📲 ViewController, ✅ Test, 🥰UseCase

#255 [Feature] 유니버셜 링크(공유)로 포스트 상세화면 진입시 연관된 VM에 특정 데이터 전달 로직 구현했습니다.
  travelPlan/Source/Domain/Entities/Post/FetchedPostDetailForUniversalLinkEntity.swift
  travelPlan/Source/Presentation/Post/Common/PostNotificationManager.swift
  travelPlan/Source/Presentation/Post/Common/Protocol/PostDetailFetchForUniversalLinkNotifiable.swift
  travelPlan/Source/Presentation/Post/Common/ViewModel/PostOptionViewModel.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailChatViewModel.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 👨‍💻 ViewModel, 🏖 Common, 📲 ViewController

#256 [Feature] 피드 상세 화면 타인의 댓, 대댓글 옵션 버튼 클릭시 다양한 경우에 대응한 차단 기능 추가했습니다
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Presentation/Post/Common/Protocol/PostAuthorBlockCoordinatable.swift
  travelPlan/Source/Presentation/Post/Common/Protocol/PostOptionCoordinatable.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailChatViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailChatViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 👨‍💻 ViewModel, 🏖 Common, 📲 ViewController

#257 [Feature] 여행 후기(포스트) 상세 화면 댓글, 대댓글 하트 반영 UI 적용 및 UseCase연동했습니다.
  travelPlan/Source/Domain/Entities/Post/Post.swift
  travelPlan/Source/Domain/Entities/Post/PostDetails.swift
  travelPlan/Source/Presentation/Feed/Utils/PostMapper.swift
  travelPlan/Source/Presentation/Post/Common/NumberFormatterWithSuffix.swift
  travelPlan/Source/Presentation/Post/Common/PostNotificationManager.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostFooterView.swift
  travelPlan/Source/Presentation/Post/PostSummary/ViewModel/PostFooterInfo.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailChatViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Presentation/PostDetail/View/BasePostDetailCommentableView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailChatViewModel.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailSection.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, 🍒 Todo, 🥰UseCase

#258 [Feature] (여행후기) 포스트 상세 화면 댓글 , 대댓글 작성시 총 개수 반영하도록 적용했습니다.
  travelPlan/Source/Domain/Entities/Post/PostDetails.swift
  travelPlan/Source/Domain/Entities/Post/UpdatedPostCommentsEntity.swift
  travelPlan/Source/Presentation/Favorite/ViewModel/FavoritePostViewModel.swift
  travelPlan/Source/Presentation/Feed/Protocol/FeedPostViewModelable.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Post/Common/PostNotificationManager.swift
  travelPlan/Source/Presentation/Post/Common/Protocol/UpdatedPostCommentsNotifiable.swift
  travelPlan/Source/Presentation/Post/PostSummary/ViewModel/PostViewModel.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailChatViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/Info/PostDetailChatViewModelInfo.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailChatViewModel.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController

#259 [Rebuild] 포스트 상세화면(여행 후기 상세 게시글화면)에 필요로하는 Dependency들 DI container에 등록했습니다.
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Application/DIContainer/Container+.swift
  travelPlan/Source/Application/DIContainer/Resolver+.swift
  travelPlan/Source/Core/Authentication/GoogleLoginStrategyWithFirebase.swift
  travelPlan/Source/Core/Cache/Module/ImageDiskCache.swift
  travelPlan/Source/Data/Assembly/PersistentStorageAssembly.swift
  travelPlan/Source/Data/Assembly/SpringServierRepositoryAssembly.swift
  travelPlan/Source/Data/Assembly/TourRepositoryAssembly.swift
  travelPlan/Source/Data/Repositories/SpringServer/Authentication/DefaultLoginRepository.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationFeedAssembly.swift
  travelPlan/Source/Presentation/Notification/ViewModel/NotificationViewModel.swift
  travelPlan/Source/Presentation/Post/Common/Protocol/PostOptionViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailChatViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
Labels: ✨ Rebuild, 🧶 DI Container

#260 [Feature] Login화면에 DIContainer 적용
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Core/Assembly/CoreAssembly.swift
  travelPlan/Source/Core/Authentication/AppleLoginStrategy.swift
  travelPlan/Source/Data/Assembly/PersistentStorageAssembly.swift
  travelPlan/Source/Data/Assembly/SpringServerRepositoryAssembly.swift
  travelPlan/Source/Data/Repositories/SpringServer/Authentication/DefaultLoginRepository.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Login/Coordinator/LoginCoordinator.swift
  travelPlan/Source/Presentation/Login/ViewController/LoginViewController.swift
  travelPlan/Source/Presentation/Login/ViewModel/DefaultLoginViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🧶 DI Container
