Repository IF-TG/iOS, pull requests merged in 2024-07, with the labels that each got.

#261 [Feature] 여행 플랜 계획시 여행 플랜 카테고리 선택 UI를 구현했습니다.
  travelPlan/Source/Common/Builder/Builder.swift
  travelPlan/Source/Common/Builder/CompositionalSectionLayoutBuilder.swift
  travelPlan/Source/Common/Builder/StackViewBuilder.swift
  travelPlan/Source/Common/Extension/Foundation+/CaseIterable+.swift
  travelPlan/Source/Common/View/ProgressView.swift
  travelPlan/Source/Data/Tests/Mock/InterceptedWhatsNewNotificationRepository.swift
  travelPlan/Source/Presentation/Plan/PlanCategorySelection/Extension/PlanCategorySelectionCollecionSectionType.swift
  travelPlan/Source/Presentation/Plan/PlanCategorySelection/Extension/TravelRegion+PlanCategorySelectionConfigurable.swift
  travelPlan/Source/Presentation/Plan/PlanCategorySelection/Extension/TravelTheme+PlanCategorySelectionConfigurable.swift
  travelPlan/Source/Presentation/Plan/PlanCategorySelection/Extension/TravelTheme+PlanCategorySelectionConfigure.swift
  travelPlan/Source/Presentation/Plan/PlanCategorySelection/Protocol/ViewController/PlanCategorySelectionConfigurable.swift
  travelPlan/Source/Presentation/Plan/PlanCategorySelection/ViewController/BasePlanCategorySelectionViewController.swift
  travelPlan/Source/Presentation/Plan/PlanCategorySelection/ViewController/PlanCategorySelectionViewController.swift
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/Contents.json
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/arrow-narrow-right-icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/arrow-narrow-right-icon.imageset/arrow-narrow-right-icon.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/arrow-narrow-right-icon.imageset/arrow-narrow-right-icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/arrow-narrow-right-icon.imageset/arrow-narrow-right-icon@3x.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-left-icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-left-icon.imageset/chevron-left-icon.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-left-icon.imageset/chevron-left-icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-left-icon.imageset/chevron-left-icon@3x.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-right-icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-right-icon.imageset/chevron-right-icon.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-right-icon.imageset/chevron-right-icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/CategorySelection/chevron-right-icon.imageset/chevron-right-icon@3x.png
  travelPlan/Source/Support/Assets.xcassets/PlanIcon/Contents.json
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 🏖 Common, 📲 ViewController

#264 [Feature] 여행지스크랩 관련 Repository 구현
  travelPlan/Source/Data/Common/Server/RequestType.swift
  travelPlan/Source/Data/Network/Server/DestinationScrapEndpoints.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationScrapListRequestDTO.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationScrapToggleRequestDTO.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationScrapUpdateRequestDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapDetailResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapToggleResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapUpdateResponseDTO.swift
  travelPlan/Source/Data/Repositories/SpringServer/Post/DefaultReviewWritingRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationScrapRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/DestinationRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/DestinationScrapRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultIntroductionInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourFestivalInfoRepository.swift
  travelPlan/Source/Data/Tests/DestinationScrapRepositoryTests.swift
  travelPlan/Source/Data/Tests/Mock/JsonMockDestinationScrapRepository.swift
  travelPlan/Source/Domain/Entities/Destination/DestinationScrapList.swift
  travelPlan/Source/Domain/Entities/Destination/DestinationScrapToggler.swift
  travelPlan/Source/Domain/Entities/Destination/UpdatedDestinationScrap.swift
  travelPlan/Source/Domain/UseCases/Search/DefaultSearchDestinationUseCase.swift
  travelPlan/Source/Domain/UseCases/Search/SearchDestinationUseCase.swift
  travelPlan/Source/Local/MockJson/DestinationScrap/en.lproj/mock_response_getDestinationScrapList.json
  travelPlan/Source/Local/MockJson/DestinationScrap/en.lproj/mock_response_toggleDestinationScrap.json
  travelPlan/Source/Local/MockJson/DestinationScrap/en.lproj/mock_response_updateDestinationScrap.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test

#262 [Library] Realm 외부 라이브러리 의존성 SPM으로 추가했습니다.
  travelPlan/Source/Application/SceneDelegate.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🥳 Library

#263 [Rebuild][Fix] DI container 서비스명 case축소 및 피드화면 Data Race condition 에러 수정했습니다.
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Application/DIContainer/ServiceName.swift
  travelPlan/Source/Common/Utils/Synchronized.swift
  travelPlan/Source/Core/Assembly/CoreAssembly.swift
  travelPlan/Source/Data/Assembly/FirebaseRepositoryAssembly.swift
  travelPlan/Source/Data/Assembly/PersistentStorageAssembly.swift
  travelPlan/Source/Data/Assembly/SpringServerRepositoryAssembly.swift
  travelPlan/Source/Data/Assembly/TourRepositoryAssembly.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationFeedAssembly.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🏖 Common, ✨ Rebuild, 🍣 Fix, 🧶 DI Container

#265 [Feature] 포스트 하트 api 도메인 데이터 layer에 추가(with spring server)
  travelPlan/Source/Common/Combine/Extension/Combine+Helpers.swift
  travelPlan/Source/Data/Common/Server/RequestType.swift
  travelPlan/Source/Data/Network/Server/PostAPIEndpoint.swift
  travelPlan/Source/Data/Repositories/SpringServer/Post/DefaultPostRepository.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostHeartRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/PostRepositoryDecorator.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultOwnerRelatedPostFetchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostCommentsAndPostLikeStateFetchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostFetchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostHeartUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostSearchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Impl/PostHeartUseCaseImplTests.swift
  travelPlan/Source/Domain/UseCases/Post/Default/DefaultPostHeartUseCase.swift
  travelPlan/Source/Domain/UseCases/Post/Implication/PostHeartUseCaseImpl.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostHeartUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🎁 Repository, 🏖 Common, ✅ Test, 🧶 DI Container

#266 [Feature] 피드 섬네일 화면, 피드 상세화면 하트 useCase와 연동했습니다.
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Tests/Mock/JsonMockPostRepository.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultOwnerRelatedPostFetchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostCommentsAndPostLikeStateFetchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostFetchUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostHeartUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Post/Default/DefaultPostSearchUseCaseTests.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationFeedAssembly.swift
  travelPlan/Source/Presentation/Feed/Protocol/FeedPostViewModelable.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Post/PostSummary/Protocol/PostCellEdgeDividable.swift
  travelPlan/Source/Presentation/Post/PostSummary/Protocol/PostHeartsConfigurable.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/BasePostView.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithFiveThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithFourThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithOneThumbnail.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithThreeThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithTwoThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostFooterView.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailSection.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, 🥰UseCase

#267 [Refactor] TourCommonInfoEntity의 nested 구조체 리펙토링
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapDetailResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourApiCommonInfoResponseDTO.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourCommonInfoRepository.swift
  travelPlan/Source/Data/Tests/Mock/JsonMockDestinationScrapRepository.swift
  travelPlan/Source/Domain/Entities/Destination/DestinationScrapList.swift
  travelPlan/Source/Domain/Entities/TourAddress.swift
  travelPlan/Source/Domain/Entities/TourCommonInfoEntity.swift
  travelPlan/Source/Domain/Entities/TourContact.swift
  travelPlan/Source/Domain/Entities/TourCoordinate.swift
  travelPlan/Source/Domain/Entities/TourImage.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourCommonInfoRepository.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: ✅ Test, ✨ Rebuild

#268 [Feature] 포스트 상세 화면에서 하트 누를 때, 피드 화면에서 연동. (딮 링크에 의해 들어온게 아닐 경우) 구현했습니다.
  travelPlan/Source/Presentation/Feed/Protocol/FeedPostViewModelable.swift
  travelPlan/Source/Presentation/Feed/View/CategoryPageView/CategoryPageView.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewModel/PostHeartInfo.swift
  travelPlan/Source/Presentation/Feed/ViewModel/UpdatedPostHeartInfo.swift
  travelPlan/Source/Presentation/Notification/ViewController/NotificationCenterViewController.swift
  travelPlan/Source/Presentation/Post/PostSummary/Protocol/PostCellEdgeDividable.swift
  travelPlan/Source/Presentation/Post/PostSummary/Protocol/PostHeartsConfigurable.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/BasePostView.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithFiveThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithFourThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithOneThumbnail.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithThreeThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostCellWithTwoThumbnails.swift
  travelPlan/Source/Presentation/Post/PostSummary/View/PostFooterView.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, ✨ Rebuild

#269 [Fix] 포스트 상세 화면 진입시 input accessory view 부자연스러운 처리 개선. 화면전환시 탭바 처리 개선.
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 📲 ViewController, 🍣 Fix

#270 [Feature] 여행지 검색 결과 썸네일 리스트 fetch Repository 구현
  travelPlan/Source/Data/Common/Server/RequestType.swift
  travelPlan/Source/Data/Network/Server/DestinationSearchEndpoints.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationScrapToggleRequestDTO.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationSearchRequestDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapDetailResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapToggleResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapUpdateResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationSearchResultResponseDTO.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationScrapRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationSearchRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/DestinationScrapRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/DestinationSearchRepository.swift
  travelPlan/Source/Data/Tests/DestinationScrapRepositoryTests.swift
  travelPlan/Source/Data/Tests/DestinationSearchRepositoryTests.swift
  travelPlan/Source/Data/Tests/JsonMock/JsonMockDestinationScrapRepository.swift
  travelPlan/Source/Data/Tests/JsonMock/JsonMockDestinationSearchRepository.swift
  travelPlan/Source/Domain/Entities/Destination/DestinationScrapDetail.swift
  travelPlan/Source/Domain/Entities/Destination/DestinationScrapToggler.swift
  travelPlan/Source/Domain/Entities/Destination/ThumbnailDestination.swift
  travelPlan/Source/Domain/Entities/Destination/UpdatedDestinationScrap.swift
  travelPlan/Source/Domain/UseCases/Search/DefaultSearchDestinationUseCase.swift
  travelPlan/Source/Domain/UseCases/Search/DestinationSearchResultUseCase.swift
  travelPlan/Source/Domain/UseCases/Search/SearchDestinationUseCase.swift
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getAllByKeyword.json
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getDestinationScrapList.json
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_toggleDestinationScrap.json
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_updateDestinationScrap.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🎁 Repository

#272 [Feature] Search 탭 관련 화면들의 DIContainer 적용
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationScrapListRequestDTO.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationScrapToggleRequestDTO.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationScrapUpdateRequestDTO.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/DestinationSearchRequestDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapDetailResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationSearchResultResponseDTO.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationScrapRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationSearchRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/DestinationScrapRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/DestinationSearchRepository.swift
  travelPlan/Source/Data/Tests/JsonMock/JsonMockDestinationScrapRepository.swift
  travelPlan/Source/Data/Tests/JsonMock/JsonMockDestinationSearchRepository.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Entities/Destination/DestinationScrapDetail.swift
  travelPlan/Source/Domain/Entities/Destination/ThumbnailDestination.swift
  travelPlan/Source/Domain/UseCases/Protocol/Search/DestinationSearchResultUseCase.swift
  travelPlan/Source/Domain/UseCases/Search/DefaultDestinationSearchResultUseCase.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Coordinator/PostSearchCoordiantor.swift
  travelPlan/Source/Presentation/Feed/Coordinator/SearchHistoryCoordinator.swift
  travelPlan/Source/Presentation/Feed/Model/SearchHistorySectionItemModel.swift
  travelPlan/Source/Presentation/Feed/Protocol/FeedViewModelable.swift
  travelPlan/Source/Presentation/Feed/Protocol/PostSearch/PostSearchCollectionViewDataSource.swift
  travelPlan/Source/Presentation/Feed/Protocol/SearchHistory/SearchHistoryCollectionViewDataSource.swift
  travelPlan/Source/Presentation/Feed/Protocol/SearchHistory/SearchHistoryCollectionViewDelegate.swift
  travelPlan/Source/Presentation/Feed/Protocol/SearchHistory/SearchHistoryHeaderViewDelegate.swift
  travelPlan/Source/Presentation/Feed/Protocol/SearchHistory/SearchHistoryRecentTagCellDelegate.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/DefaultSearchHistoryLayout.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/SearchHistoryCollectionViewAdapter.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/SearchHistoryTagLabel.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/TagCell/PostRecentSearchHeaderView.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/TagCell/PostRecommendationSearchHeaderView.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/TagCell/SearchHistoryFooterView.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/TagCell/SearchHistoryRecentTagCell.swift
  travelPlan/Source/Presentation/Feed/View/SearchHistory/TagCell/SearchHistoryRecommendationTagCell.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Presentation/Feed/ViewController/SearchHistoryViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewModel/SearchHistoryViewModel.swift
  travelPlan/Source/Presentation/Main/Coordinator/MainCoordinator.swift
  travelPlan/Source/Presentation/Search/Coordinator/SearchCoordinator.swift
  travelPlan/Source/Presentation/Search/Coordinator/SearchResultListCoordinator.swift
  travelPlan/Source/Presentation/Search/View/SearchResultCategoryCell.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchResultListViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Presentation/Search/ViewModel/Info/TravelDestinationCategoryInfo.swift
  travelPlan/Source/Presentation/Search/ViewModel/Info/TravelDestinationInfo.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchMoreDetailViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchResultListViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 👨‍💻 ViewModel, 🗑 Remove, 🐾 Coordinator, 🥰UseCase, 🧶 DI Container

#273 [Feature] SearchHistoryUseCase, 관련 Repository 구현
  travelPlan/Source/Data/Assembly/SpringServerRepositoryAssembly.swift
  travelPlan/Source/Data/Common/Server/RequestType.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/RecentSearchHistoryRequestDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/RecentSearchHistoryResponseDTO.swift
  travelPlan/Source/Data/Network/Server/SearchHistoryEndpoints.swift
  travelPlan/Source/Data/PersistentStorages/RealmStorage/RealmStorage.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationLikeRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultDestinationSearchRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultRecentSearchHistoryRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/DefaultRecommendationSearchHistoryRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/DestinationLikeRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/RecommendationSearchHistoryRepository.swift
  travelPlan/Source/Data/Repositories/SpringServer/Search/Protocol/SearchHistoryRepository.swift
  travelPlan/Source/Data/Tests/DestinationScrapRepositoryTests.swift
  travelPlan/Source/Data/Tests/DestinationSearchRepositoryTests.swift
  travelPlan/Source/Data/Tests/JsonMock/JsonMockRecentSearchHistoryRepository.swift
  travelPlan/Source/Data/Tests/KeychainManagerTests.swift
  travelPlan/Source/Data/Tests/RealmStorageTests.swift
  travelPlan/Source/Data/Tests/RecentSearchHistoryRepositoryTests.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Entities/RecentSearchHistory.swift
  travelPlan/Source/Domain/Entities/RecommendationSearchHistory.swift
  travelPlan/Source/Domain/Entities/SearchHistories.swift
  travelPlan/Source/Domain/Entities/SearchRecommendationHistory.swift
  travelPlan/Source/Domain/UseCases/Protocol/Search/SearchHistoryUseCase.swift
  travelPlan/Source/Domain/UseCases/Search/DefaultSearchHistoryUseCase.swift
  travelPlan/Source/Local/MockJson/Search/en.lproj/mock_response_recentSearch.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Feed/ViewController/SearchHistoryViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/SearchHistoryViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🎁 Repository, ✅ Test, 🥰UseCase, 🧶 DI Container
