Repository IF-TG/iOS, pull requests merged in 2024-08, with the labels that each got.

#275 [Docs] README.md 초안 수정했습니다.
  README.md
Labels: 📜 Documentation

#277 [Docs] 앱 피드 상세화면 아주 일부 gif README.md 추가 및 PostMapper 객체에 FP 적용한 리빌딩.
  README.md
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Domain/Entities/Notice/NoticeEntity.swift
  travelPlan/Source/Domain/Entities/Post/AtomicPost.swift
  travelPlan/Source/Domain/Entities/Post/Post.swift
  travelPlan/Source/Domain/Entities/Post/PostDetails.swift
  travelPlan/Source/Domain/Entities/Post/UpdatedFavoritePostDirectoryName.swift
  travelPlan/Source/Domain/Tests/Mock/Post/MockPostsGeneratorForPaging.swift
  travelPlan/Source/Presentation/Feed/Utils/PostMapper.swift
  travelPlan/Source/Presentation/Post/PostSummary/ViewModel/PostInfo.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 📜 Documentation, 💡 Feature

#279 [Rebuild] 실수로 push하지 못한 리빌딩 pr요청..!
  travelPlan/Source/Presentation/Destination/ViewModel/DefaultSearchResultListViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/DefaultSearchViewModel.swift
Labels: ✨ Rebuild

#280 [Rebuild] SearchMoreDetailScene 전체적으로 rebuilding
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Common/View/TitleWithButtonHeaderView.swift
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getDestinationRecommend.json
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Destination/Coordinator/DestinationDetailCoordinator.swift
  travelPlan/Source/Presentation/Destination/Protocol/DestinationDetailViewModel.swift
  travelPlan/Source/Presentation/Destination/ViewController/SearchResultListViewController.swift
  travelPlan/Source/Presentation/Destination/ViewModel/DefaultDestinationDetailViewModel.swift
  travelPlan/Source/Presentation/Destination/ViewModel/DefaultSearchResultListViewModel.swift
  travelPlan/Source/Presentation/Search/Coordinator/SearchCoordinator.swift
  travelPlan/Source/Presentation/Search/Coordinator/SearchMoreDetailCoordinator.swift
  travelPlan/Source/Presentation/Search/Model/SearchCampingModel.swift
  travelPlan/Source/Presentation/Search/Model/SearchDetailHeaderInfo.swift
  travelPlan/Source/Presentation/Search/Model/SearchFestivalModel.swift
  travelPlan/Source/Presentation/Search/Model/SearchSectionModel.swift
  travelPlan/Source/Presentation/Search/Protocol/SearchMoreDetailViewModel.swift
  travelPlan/Source/Presentation/Search/Protocol/SearchViewModel.swift
  travelPlan/Source/Presentation/Search/View/MainSearchLayoutManager.swift
  travelPlan/Source/Presentation/Search/View/SearchDetailHeaderView.swift
  travelPlan/Source/Presentation/Search/View/SearchFestivalCell.swift
  travelPlan/Source/Presentation/Search/View/TravelDestinationCell.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchMoreDetailViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Presentation/Search/ViewModel/DefaultSearchMoreDetailViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/DefaultSearchViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/Info/SearchFestivalInfo.swift
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/Contents.json
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/cultureFacility_searchMore.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/cultureFacility_searchMore.imageset/cultureFacility.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/cultureFacility_searchMore.imageset/cultureFacility@2x.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/cultureFacility_searchMore.imageset/cultureFacility@3x.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/festival.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/festival.imageset/festival.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/festival.imageset/festival@2x.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/festival.imageset/festival@3x.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/leports.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/leports.imageset/leports.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/leports.imageset/leports@2x.png
  travelPlan/Source/Support/Assets.xcassets/searchMoreThumbnail/leports.imageset/leports@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 👨‍💻 ViewModel, 📲 ViewController, 🐾 Coordinator, 🧶 DI Container

#281 [Docs] 리드미에 피드 로직들, 여행 후기 포스트 상세화면 로직들 gif추가 및 일부 코드 수정했습니다. #RealmSwift #Dynamic library
  README.md
  travelPlan/Source/Data/Assembly/SpringServerRepositoryAssembly.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 📜 Documentation, 🖋 Concept

#282 [Feature] Setting탭에서 의존되는 객체들 전부 DIC에 register 및 Entry Point인 Coordinator는 DIC에 의존해 dependencies를 resolve하도록 변경했습니다
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Common/ViewController/BaseBottomSheetViewController.swift
  travelPlan/Source/Data/Assembly/FirebaseRepositoryAssembly.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Tests/Stub/StubNicknameValidationUseCase.swift
  travelPlan/Source/Domain/Tests/Stub/StubUserNicknameSettingUseCase.swift
  travelPlan/Source/Domain/Tests/Stub/StubUserProfileImageSettingUseCase.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Setting/Coordinator/MyInformationCoordinator.swift
  travelPlan/Source/Presentation/Setting/Coordinator/SettingCoordinator.swift
  travelPlan/Source/Presentation/Setting/Protocol/MyInformationViewModelable.swift
  travelPlan/Source/Presentation/Setting/Protocol/SettingViewModelable.swift
  travelPlan/Source/Presentation/Setting/ViewController/MyInformationAlbumSheetViewController.swift
  travelPlan/Source/Presentation/Setting/ViewModel/MyInformationViewModel.swift
  travelPlan/Source/Presentation/Setting/ViewModel/SettingViewModel.swift
  travelPlan/Source/Support/Info.plist
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🧨 Bug, 🖋 Concept, 🧶 DI Container

#283 [Feature] 하트버튼 클릭 연동 및 이미지 표시 인디케이터 UI 구현
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/DestinationScrapDetailResponseDTO.swift
  travelPlan/Source/Data/Tests/JsonMock/JsonMockDestinationRepository.swift
  travelPlan/Source/Domain/Entities/Destination/DestinationEntity.swift
  travelPlan/Source/Domain/UseCases/Protocol/Destination/DestinationDetailUseCase.swift
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getDestination_attraction.json
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getDestination_cultureFacility.json
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getDestination_leports.json
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getDestination_restaurant.json
  travelPlan/Source/Local/MockJson/Destination/en.lproj/mock_response_getDestination_shopping.json
  travelPlan/Source/Presentation/Destination/Protocol/DestinationDetailViewModel.swift
  travelPlan/Source/Presentation/Destination/View/DestinationDetailHeaderView.swift
  travelPlan/Source/Presentation/Destination/View/DestinationDetailImageCell.swift
  travelPlan/Source/Presentation/Destination/View/DestinationDetailServiceCell.swift
  travelPlan/Source/Presentation/Destination/View/DestinationDetailTitleCell.swift
  travelPlan/Source/Presentation/Destination/View/IndicatorBoxView.swift
  travelPlan/Source/Presentation/Destination/ViewController/DestinationDetailViewController.swift
  travelPlan/Source/Presentation/Destination/ViewModel/DefaultDestinationDetailViewModel.swift
  travelPlan/Source/Support/Image/TempImage/Destination/restaurant_1.png
  travelPlan/Source/Support/Image/TempImage/Destination/restaurant_2.png
  travelPlan/Source/Support/Image/TempImage/Destination/restaurant_3.png
  travelPlan/Source/Support/Image/TempImage/Destination/restaurant_4.png
  travelPlan/Source/Support/Image/emptyImage.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🖥 View, 👨‍💻 ViewModel, 📲 ViewController

#284 [Rebuild] 리뷰작성, 앨범, 앨범포토상세 scene 리빌딩
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Common/Utils/PhotoService/DefaultPhotoService.swift
  travelPlan/Source/Common/Utils/PhotoService/PhotoService.swift
  travelPlan/Source/Data/Assembly/SpringServerRepositoryAssembly.swift
  travelPlan/Source/Data/Repositories/LocalAPI/DefaultPhotoAuthorizationRepository.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Interfaces/Repositories/LocalAPI/PhotoAuthorizationRepository.swift
  travelPlan/Source/Domain/Tests/Mock/JsonMockReviewWritingRepository.swift
  travelPlan/Source/Domain/UseCases/Album/DefaultAlbumPhotoMaxCountUseCase.swift
  travelPlan/Source/Domain/UseCases/Album/DefaultAlbumUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultReviewWritingUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/Album/AlbumPhotoMaxCountUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/Album/AlbumUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/ReviewWritingUseCase.swift
  travelPlan/Source/Presentation/Album/Coordinator/AlbumCoordinator.swift
  travelPlan/Source/Presentation/Album/Coordinator/AlbumPhotoDetailCoordinator.swift
  travelPlan/Source/Presentation/Album/Protocol/AlbumCoordinatorDelegate.swift
  travelPlan/Source/Presentation/Album/Protocol/AlbumPhotoDetailViewModel.swift
  travelPlan/Source/Presentation/Album/Protocol/AlbumViewModel.swift
  travelPlan/Source/Presentation/Album/ViewController/AlbumPhotoDetailViewController.swift
  travelPlan/Source/Presentation/Album/ViewController/AlbumViewController.swift
  travelPlan/Source/Presentation/Album/ViewModel/DefaultAlbumPhotoDetailViewModel.swift
  travelPlan/Source/Presentation/Album/ViewModel/DefaultAlbumViewModel.swift
  travelPlan/Source/Presentation/Assembly/FlowCoordinatorAssembly.swift
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Presentation/Feed/View/ReviewWriting/ReviewWritingContentView.swift
  travelPlan/Source/Presentation/ReviewWriting/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Presentation/ReviewWriting/Protocol/PictureImageViewDelegate.swift
  travelPlan/Source/Presentation/ReviewWriting/Protocol/ReviewWritingBottomViewDelegate.swift
  travelPlan/Source/Presentation/ReviewWriting/Protocol/ReviewWritingContentViewDelegate.swift
  travelPlan/Source/Presentation/ReviewWriting/Protocol/ReviewWritingViewModel.swift
  travelPlan/Source/Presentation/ReviewWriting/ViewController/ReviewWritingViewController.swift
  travelPlan/Source/Presentation/ReviewWriting/ViewModel/DefaultReviewWritingViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 👨‍💻 ViewModel, 📲 ViewController, ✨ Rebuild, 🥰UseCase
