Repository IF-TG/iOS, pull requests merged in 2024-05, with the labels that each got.

#221 [Refactor] 투어 API 공통정보조회 관련 객체들 네이밍 전부 수정 완료했습니다.
  travelPlan/Source/Common/Extension/UIKit+/UIApplication+.swift
  travelPlan/Source/Common/Extension/UITableView+Helpers.swift
  travelPlan/Source/Common/View/BaseProfileAreaView.swift
  travelPlan/Source/Common/View/CommentInputView.swift
  travelPlan/Source/Core/Authentication/GoogleLoginStrategyWithFirebase.swift
  travelPlan/Source/Core/Firebase/ImageStorageServiceProtocol.swift
  travelPlan/Source/Data/Network/DataMapper/TravelRegionMapper.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/PostContainerResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/PostNestedCommentResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ReviewWritingEndpoints.swift
  travelPlan/Source/Data/Network/TourAPI/RequestDTO/TourApiCommonInfoRequestDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourApiCommonInfoResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/TourCommonInfoAPIEndpoint.swift
  travelPlan/Source/Data/Repositories/Server/DefaultPostCommentRepository.swift
  travelPlan/Source/Data/Repositories/Server/DefaultReviewWritingRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourCommonInfoRepository.swift
  travelPlan/Source/Data/Tests/DefaultTourCommonInfoRepositoryTests.swift
  travelPlan/Source/Domain/Entities/Post/FavoritePostToggleEntity.swift
  travelPlan/Source/Domain/Entities/Post/Post.swift
  travelPlan/Source/Domain/Entities/Post/PostCategory.swift
  travelPlan/Source/Domain/Entities/Post/PostCommentContainerEntity.swift
  travelPlan/Source/Domain/Entities/Post/PostCommentEntity.swift
  travelPlan/Source/Domain/Entities/Post/PostContainer.swift
  travelPlan/Source/Domain/Entities/Post/PostContentEntity.swift
  travelPlan/Source/Domain/Entities/Post/PostDetails.swift
  travelPlan/Source/Domain/Entities/Post/PostNestedCommentEntity.swift
  travelPlan/Source/Domain/Entities/Post/PostReportType.swift
  travelPlan/Source/Domain/Entities/Post/PostThumbnailValue.swift
  travelPlan/Source/Domain/Entities/Post/PostThumbnails.swift
  travelPlan/Source/Domain/Entities/Post/PostsPage.swift
  travelPlan/Source/Domain/Entities/Post/ReviewWritingEntity.swift
  travelPlan/Source/Domain/Entities/Post/ToggledPostCommentHeartEntity.swift
  travelPlan/Source/Domain/Entities/TourCommonInfoEntity.swift
  travelPlan/Source/Domain/Entities/User/BlockedUserIdentifyEntity.swift
  travelPlan/Source/Domain/Entities/User/BlockedUserProfileEntity.swift
  travelPlan/Source/Domain/Entities/User/ProfileImageEntity.swift
  travelPlan/Source/Domain/Entities/User/UserEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourCommonInfoRepository.swift
  travelPlan/Source/Presentation/PostDetail/View/BasePostDetailCommentableView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostOptionResultAlertController.swift
  travelPlan/Source/Support/AppDelegate.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, ✨ Rebuild

#219 [Feature] Firestore로 포스트 하트 해요, 싫어해요. 포스트 하트한 사용자들 받아오는 data - layer 구현
  travelPlan/Source/Common/Extension/Foundation+/Bool+.swift
  travelPlan/Source/Common/Extension/Foundation+/Bundle+Helpers.swift
  travelPlan/Source/Common/Extension/Foundation+/CaseIterable+.swift
  travelPlan/Source/Common/Extension/Foundation+/Data+.swift
  travelPlan/Source/Common/Extension/Foundation+/Double+.swift
  travelPlan/Source/Common/Extension/Foundation+/Encodable+.swift
  travelPlan/Source/Common/Extension/Foundation+/Int+.swift
  travelPlan/Source/Common/Extension/Foundation+/NSRange+.swift
  travelPlan/Source/Common/Extension/Foundation+/Notification+.swift
  travelPlan/Source/Common/Extension/UIKit+/CALayer+.swift
  travelPlan/Source/Common/Extension/UIKit+/CALayer+Border.swift
  travelPlan/Source/Common/Extension/UIKit+/NSMutableAttributedString+.swift
  travelPlan/Source/Common/Extension/UIKit+/UIColor+.swift
  travelPlan/Source/Common/Extension/UIKit+/UIColor+AppPalette.swift
  travelPlan/Source/Common/Extension/UIKit+/UIDevice+modelName.swift
  travelPlan/Source/Common/Extension/UIKit+/UIFont+.swift
  travelPlan/Source/Common/Extension/UIKit+/UIImage+.swift
  travelPlan/Source/Common/Extension/UIKit+/UIScrollView+.swift
  travelPlan/Source/Common/Extension/UIKit+/UIStackView+Helpers.swift
  travelPlan/Source/Common/Extension/UIKit+/UITableView+Helpers.swift
  travelPlan/Source/Common/Extension/UIKit+/UITextView+.swift
  travelPlan/Source/Common/Extension/UIKit+/UIView+CustomAnimation.swift
  travelPlan/Source/Common/Extension/UIKit+/UIView+roundCorners.swift
  travelPlan/Source/Common/Extension/UIKit+/UIViewController+.swift
  travelPlan/Source/Common/Extension/UIKit+/UIViewController+BackBarButtonItem.swift
  travelPlan/Source/Common/Extension/UIKit+/UIViewController+Indicator.swift
  travelPlan/Source/Common/Extension/UIKit+/UIViewController+TitleView.swift
  travelPlan/Source/Common/Extension/XCTest+/SHCoordinator+XCTestCase.swift
  travelPlan/Source/Common/Extension/XCTest+/XCTestCase+Helpers.swift
  travelPlan/Source/Common/Extension/XCTest+/XCTestCase+UseCaseTestsHelpers.swift
  travelPlan/Source/Core/Firebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Network/Firestore/FirestorePostHeartAPIEndpoint.swift
  travelPlan/Source/Data/Network/Tests/PostCommentAPIEndpointTests.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestorePostHeartRepository.swift
  travelPlan/Source/Data/Tests/FirestorePostHeartRepositoryTests.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Server/PostHeartRepository.swift
  travelPlan/Source/Domain/Tests/MyProfileUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostNestedCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  travelPlan/travelPlanTests/Info.plist
  travelPlan/travelPlanTests/Presentation/CoordinatorDeallocTests.swift
  travelPlan/travelPlanTests/ReviewWritingUseCaseTests.swift
Labels: 🎁 Repository, ✅ Test

#220 [Feature] 포스트 받아올때 필터링 까지 추가해서 Data layer 구현했습니다. Firestore사용했습니다!
  travelPlan/Source/Common/Utils/DateTimeConverter.swift
  travelPlan/Source/Core/Firebase/FirestoreEndpoint.swift
  travelPlan/Source/Core/Firebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Network/DataMapper/TravelMainThemeTypeMapper.swift
  travelPlan/Source/Data/Network/Firestore/FirestorePostAPIEndpoint.swift
  travelPlan/Source/Data/Network/Firestore/RequestDTO/FirestoreReviewWritingSaveRequestDTO.swift
  travelPlan/Source/Data/Network/Firestore/ResponseDTO/FirestorePostResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/PostContainerResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/PostResponseDTO.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestorePostRepository.swift
  travelPlan/Source/Data/Repositories/Server/DefaultFavoritePostInDirectoryRepository.swift
  travelPlan/Source/Data/Repositories/Server/DefaultPostRepository.swift
  travelPlan/Source/Data/Repositories/Server/DefaultReviewWritingRepository.swift
  travelPlan/Source/Data/Tests/FirestorePostRepositoryTests.swift
  travelPlan/Source/Domain/Entities/Post/Post.swift
  travelPlan/Source/Domain/Entities/Post/PostThumbnails.swift
  travelPlan/Source/Domain/Entities/Post/PostsPage.swift
  travelPlan/Source/Domain/Tests/Mock/MockMyProfileRepository.swift
  travelPlan/Source/Domain/Tests/MyProfileUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Presentation/Favorite/ViewModel/FavoritePostViewModel.swift
  travelPlan/Source/Presentation/Feed/Utils/PostMapper.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/Source/Presentation/Post/Model/PostContentInfo.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFiveThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFourThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithOneThumbnail.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithThreeThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithTwoThumbnails.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  travelPlan/travelPlanTests/Presentation/CoordinatorDeallocTests.swift
Labels: 💡 Feature, 🎁 Repository, 🏖 Common, ✅ Test, ✨ Rebuild, 🥳 Library

#223 [Feature] 포스트 하트 트랜잭션+ 도메인, 데이터 layer 구현 및 테스트 했습니다.
  travelPlan/Source/Core/BackgroundtaskManager/Module/BackgroundTaskManager.swift
  travelPlan/Source/Core/Firebase/FirestoreEndpoint.swift
  travelPlan/Source/Data/Common/DataMapper/SeasonMapper.swift
  travelPlan/Source/Data/Common/DataMapper/TravelMainThemeTypeMapper.swift
  travelPlan/Source/Data/Common/DataMapper/TravelOrderTypeMapper.swift
  travelPlan/Source/Data/Common/DataMapper/TravelPartnerMapper.swift
  travelPlan/Source/Data/Common/DataMapper/TravelRegionMapper.swift
  travelPlan/Source/Data/Common/DataMapper/TravelThemeMapper.swift
  travelPlan/Source/Data/Common/FIrebase/FirestoreEndpoint.swift
  travelPlan/Source/Data/Common/FIrebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Common/Server/Endpoint.swift
  travelPlan/Source/Data/Common/Server/RequestType.swift
  travelPlan/Source/Data/Common/TourApi/TourApiEndpoint.swift
  travelPlan/Source/Data/Common/TourApi/TourApiError.swift
  travelPlan/Source/Data/Common/TourApi/TourApiRequestType.swift
  travelPlan/Source/Data/Common/TourApi/TourApiSessionProvider.swift
  travelPlan/Source/Data/Network/Firestore/FirestorePostHeartAPIEndpoint.swift
  travelPlan/Source/Data/Network/Firestore/ResponseDTO/PostHeartsRespoonseDTO.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestorePostHeartRepository.swift
  travelPlan/Source/Data/Tests/FirestorePostHeartRepositoryTests.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Server/PostHeartRepository.swift
  travelPlan/Source/Domain/Tests/DefaultPostHeartUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostHeartUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostHeartUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🎁 Repository, 🏖 Common, ✅ Test, 🥰UseCase

#225 [Feature] 포스트 댓글 하트 도메인, 데이터 Firebase 사용시 레이어 객체 추가 및 테스트 했습니다.
  travelPlan/.swiftlint.yml
  travelPlan/Source/Core/Firebase/FirestoreEndpoint.swift
  travelPlan/Source/Data/Common/FIrebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Network/Firestore/FirestorePostCommentHeartAPIEndopint.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestorePostCommentHeartRepository.swift
  travelPlan/Source/Data/Tests/FirestorePostCommentHeartRepositoryTests.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostCommentHeartRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentHeartUseCaseImplTests.swift
  travelPlan/Source/Domain/Tests/PostCommentHeartUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostCommentHeartUseCase.swift
  travelPlan/Source/Domain/UseCases/PostCommentHeartUseCaseImpl.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentHeartUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentUseCase.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, ✨ Rebuild, 🥰UseCase

#226 [Feature] Tour api 이미지정보조회 Data layer 구현 및 테스트 했습니다.
  travelPlan/Source/Core/Firebase/FirestoreEndpoint.swift
  travelPlan/Source/Data/Common/TourApi/TourApiRequestType.swift
  travelPlan/Source/Data/Network/TourAPI/RequestDTO/TourApiImageRetrieveRequestDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourApiRetrievedImageResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/TourImageInfoAPIEndpoint.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourImageRetrieveInfoRepository.swift
  travelPlan/Source/Data/Tests/DefaultTourImageRetrieveInfoRepositoryTests.swift
  travelPlan/Source/Domain/Entities/TourRetrievedImageEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourImageRetrieveInfoRepository.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test

#227 [Feature] FestivalUseCase, 행사정보조회, 소개정보조회(행사/공연/축제)를 이용한 repository, modeling 구현
  travelPlan/Source/Common/Error/TransformationError.swift
  travelPlan/Source/Common/Protocol/ViewModelProtocols.swift
  travelPlan/Source/Common/Utils/DateTimeConverter.swift
  travelPlan/Source/Core/Network/Module/ImageDataFetcher.swift
  travelPlan/Source/Data/Common/TourApi/TourApiError.swift
  travelPlan/Source/Data/Common/TourApi/TourApiRequestType.swift
  travelPlan/Source/Data/Common/TourApi/TourApiSessionProvider.swift
  travelPlan/Source/Data/Network/TourAPI/RequestDTO/TourAPIFestivalRequestDTO.swift
  travelPlan/Source/Data/Network/TourAPI/RequestDTO/TourAPIIntroductionInfoRequestDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/CultureFacilityResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/LeportsResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/RestaurantResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/ShoppingResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourApiCommonInfoResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourFestivalResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoFestivalResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TouristAttractionResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/TourAPIFestivalEndpoints.swift
  travelPlan/Source/Data/Network/TourAPI/TourAPIIntroductionEndpoints.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultIntroductionInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourCommonInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourFestivalInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourImageRetrieveInfoRepository.swift
  travelPlan/Source/Domain/Entities/CultureFacilityEntity.swift
  travelPlan/Source/Domain/Entities/LeportsEntity.swift
  travelPlan/Source/Domain/Entities/RestaurantEntity.swift
  travelPlan/Source/Domain/Entities/ShoppingEntity.swift
  travelPlan/Source/Domain/Entities/TourCommonInfoEntity.swift
  travelPlan/Source/Domain/Entities/TourContentId.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/Festival/FestivalEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/Festival/FestivalThumbnailEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/Festival/IntroductionInfoFestivalEntity.swift
  travelPlan/Source/Domain/Entities/TouristAttractionEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourFestivalInfoRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourIntroductionInfoRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultFestivalUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/FestivalUseCase.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchDestinationViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/xcshareddata/xcschemes/travelPlan.xcscheme
  travelPlan/travelPlanTests/Data/DefaultTourFestivalInfoRepositoryTests.swift
  travelPlan/travelPlanTests/Data/DefaultTourIntroductionInfoRepositoryTests.swift
  travelPlan/travelPlanTests/DefaultFestivalUseCaseTests.swift
Labels: 💡 Feature, 🎁 Repository, 🏖 Common, ✅ Test, 🥰UseCase

#228 [Feature] 여행 후기 대댓글 CRUD, 리스트, 전체 개수받기 Data layer 구현했습니다. | 삭제 연산 개념
  travelPlan/Source/Data/Common/FIrebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Network/Firestore/FirestorePostNestedCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/Firestore/RequestDTO/FirestorePostNestedCommentSendRequestDTO.swift
  travelPlan/Source/Data/Network/Firestore/ResponseDTO/PostAtomicNestedCommentResponseDTO.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestorePostNestedCommentRepository.swift
  travelPlan/Source/Data/Tests/FirestorePostAtomicCommentRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestorePostNestedCommentRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestorePostRepositoryTests.swift
  travelPlan/Source/Domain/Entities/Post/Comment/PostAtomicCommentEntity.swift
  travelPlan/Source/Domain/Entities/Post/Comment/PostAtomicNestedCommentEntity.swift
  travelPlan/Source/Domain/Entities/Post/Comment/PostCommentContainerEntity.swift
  travelPlan/Source/Domain/Entities/Post/Comment/PostCommentEntity.swift
  travelPlan/Source/Domain/Entities/Post/Comment/PostNestedCommentEntity.swift
  travelPlan/Source/Domain/Entities/TourRetrievedImageEntity.swift
  travelPlan/Source/Domain/Interfaces/PostAtomicNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/MyProfileUseCaseTests.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  travelPlan/travelPlanTests/ReviewWritingUseCaseTests.swift
Labels: 🎁 Repository, ✅ Test, 🖋 Concept, 🥳 Library

#229 [Feature] 소개정보조회 - Shopping 데이터를 받아오는 로직 구현했습니다.
  travelPlan/Source/Core/Network/Module/ImageSessionProvider.swift
  travelPlan/Source/Core/Network/Module/ImageSessionable.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/ShoppingResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoShoppingResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/TourAPIIntroductionEndpoints.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultIntroductionInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourCommonInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourFestivalInfoRepository.swift
  travelPlan/Source/Data/Tests/DefaultTourCommonInfoRepositoryTests.swift
  travelPlan/Source/Domain/Entities/ShoppingEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/Festival/FestivalEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/Shopping/IntroductionInfoShoppingEntity.swift
  travelPlan/Source/Domain/Entities/TourType.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourIntroductionInfoRepository.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Data/DefaultTourFestivalInfoRepositoryTests.swift
  travelPlan/travelPlanTests/Data/DefaultTourIntroductionInfoRepositoryTests.swift
Labels: 🎁 Repository, ✅ Test

#230 [Feature] /포스트 대댓글 하트 (해요, 하트취소 등) data layer구현했습니다. with firestore
  travelPlan/Source/Common/Combine/Extension/Combine+Helpers.swift
  travelPlan/Source/Common/Extension/XCTest+/Combine+XCTestHelpers.swift
  travelPlan/Source/Common/Protocol/ViewModelProtocols.swift
  travelPlan/Source/Core/Firebase/FirestoreEndpoint.swift
  travelPlan/Source/Data/Common/FIrebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Network/Firestore/FirestoreNestedCommentHeartAPIEndpoints.swift
  travelPlan/Source/Data/Network/Firestore/FirestorePostCommentHeartAPIEndopint.swift
  travelPlan/Source/Data/Network/Firestore/FirestorePostNestedCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/Firestore/ResponseDTO/PostNestedCommentHeartsResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/TourAPIIntroductionEndpoints.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestorePostCommentHeartRepository.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestorePostNestedCommentHeartRepository.swift
  travelPlan/Source/Data/Tests/FirestorePostNestedCommentHeartRepositoryTests.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Authentication/LoginRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Favorite/FavoritePostInDirectoryRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Notification/NotificationRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostCommentAtomicRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostCommentHeartRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostCommentRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostHeartRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostNestedCommentHeartRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostNestedCommentRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/PostRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/Post/ReviewWritingRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/User/LoggedInUserRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/User/MyProfileRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/User/UserBlockRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/User/UserProfileRepository.swift
  travelPlan/Source/Domain/UseCases/DefaultFestivalUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, 🏖 Common, ✅ Test

#231 [Feature] - 소개정보조회 음식점, 관광지, 문화시설, 레포츠 type의 data layer, entity 구현
  travelPlan/Source/Common/Error/ConnectionError.swift
  travelPlan/Source/Common/Error/TransformationError.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoAttractionResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoCultureFacilityResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoFestivalResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoLeportsResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoRestaurantResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoShoppingResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TouristAttractionResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/TourAPIIntroductionEndpoints.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultIntroductionInfoRepository.swift
  travelPlan/Source/Domain/Entities/CultureFacilityEntity.swift
  travelPlan/Source/Domain/Entities/LeportsEntity.swift
  travelPlan/Source/Domain/Entities/RestaurantEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/FestivalEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/FestivalThumbnailEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoAttractionEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoCultureFacilityEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoFestivalEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoLeportsEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoRestaurantEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoShoppingEntity.swift
  travelPlan/Source/Domain/Entities/TourType.swift
  travelPlan/Source/Domain/Entities/TouristAttractionEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourIntroductionInfoRepository.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Data/DefaultTourIntroductionInfoRepositoryTests.swift
Labels: 💡 Feature, 🎁 Repository, ✅ Test

#233 [Feature] FestivalUseCase 구현 및 test case 작성
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourFestivalInfoRepository.swift
  travelPlan/Source/Domain/Tests/FestivalUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Mock/MockTourIntroductionInfoRepository.swift
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_attraction.json
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_cultureFacility.json
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_festival.json
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_leports.json
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_restaurant.json
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_shopping.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/DefaultFestivalUseCaseTests.swift
Labels: ✅ Test, 🥰UseCase

#234 [Feature] 쇼핑, 관광지, 음식점, 레포츠, 문화시설 usecase 구현 및 test case 작성
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourApiCommonInfoResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoShoppingResponseDTO.swift
  travelPlan/Source/Data/Tests/DefaultTourImageRetrieveInfoRepositoryTests.swift
  travelPlan/Source/Domain/Entities/TourCommonInfoEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/AttractionEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/CultureFacilityEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/FestivalEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoShoppingEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/LeportsEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/RestaurantEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/ShoppingEntity.swift
  travelPlan/Source/Domain/Entities/TourSearchResultEntity.swift
  travelPlan/Source/Domain/Tests/AttractionUseCaseTests.swift
  travelPlan/Source/Domain/Tests/CultureFacilityUseCaseTests.swift
  travelPlan/Source/Domain/Tests/FestivalUseCaseTests.swift
  travelPlan/Source/Domain/Tests/LeportsUseCaseTests.swift
  travelPlan/Source/Domain/Tests/RestaurantUseCaseTests.swift
  travelPlan/Source/Domain/Tests/ShoppingUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultAttractionUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultCultureFacilityUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultFestivalUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultLeportsUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultRestaurantUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultShoppingUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/AttractionUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/CultureFacilityUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/LeportsUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/RestaurantUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/ShoppingUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, ✅ Test, 🥰UseCase

#236 [Refactor] 투어 데이터 이미지정보조회 로직 개선했습니다.
  travelPlan/Source/Core/Network/Module/ImageSessionProvider.swift
  travelPlan/Source/Core/Network/Module/ImageSessionable.swift
  travelPlan/Source/Data/Common/FIrebase/FirestoreEndpoint.swift
  travelPlan/Source/Data/Common/FIrebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourImageRetrieveInfoRepository.swift
  travelPlan/Source/Data/Tests/DefaultTourImageRetrieveInfoRepositoryTests.swift
  travelPlan/Source/Data/Tests/FirestoreUserProfileRepositoryTests.swift
  travelPlan/Source/Data/Tests/UserInfoAPIEndpointTests.swift
  travelPlan/Source/Domain/Tests/Mock/MockMyProfileUseCase.swift
  travelPlan/Source/Domain/Tests/Mock/MockTourIntroductionInfoRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockUserStorage.swift
  travelPlan/Source/Domain/UseCases/Protocol/User/MyProfileUseCase.swift
  travelPlan/Source/Domain/UseCases/User/DefaultMyProfileUseCase.swift
  travelPlan/Source/Presentation/Setting/Protocol/MyInformationViewModelable.swift
  travelPlan/Source/Presentation/Setting/View/SettingMyProfileView.swift
  travelPlan/Source/Presentation/Setting/ViewController/MyInformationViewController.swift
  travelPlan/Source/Presentation/Setting/ViewModel/MyInformationViewModel.swift
  travelPlan/Source/Support/Info.plist
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 👨‍💻 ViewModel, 🎁 Repository, 📲 ViewController, ✅ Test, ✨ Rebuild, 🍣 Fix

#237 [Refactor] PostUseCase 중 일부인 OwnerRelatedPostFetchUseCase impl로 구현했습니다.
  travelPlan/Source/Common/Error/Error+OwnerError.swift
  travelPlan/Source/Common/Error/OwnerError.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestoreOwnerHeartPostRepository.swift
  travelPlan/Source/Domain/Tests/Post/Impl/OwnerRelatedPostFetchUseCaseImplTests.swift
  travelPlan/Source/Domain/UseCases/Post/Implication/OwnerRelatedPostFetchUseCaseImpl.swift
  travelPlan/Source/Domain/UseCases/Post/Implication/PostFetchUseCaseImpl.swift
  travelPlan/Source/Domain/UseCases/Post/Implication/PostSearchUseCaseImpl.swift
  travelPlan/Source/Domain/UseCases/Post/PostsPageCreatable.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🏖 Common, ✅ Test, ✨ Rebuild, 🥰UseCase

#238 [Feature] 투어 이미지 정보조회 레포지토리에 원본 이미지들을 받는 함수 추가했습니다.
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourImageRetrieveInfoRepository.swift
  travelPlan/Source/Data/Tests/DefaultTourImageRetrieveInfoRepositoryTests.swift
  travelPlan/Source/Domain/Entities/TourRetrievedImageEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourImageRetrieveInfoRepository.swift
  travelPlan/Source/Domain/Tests/AttractionUseCaseTests.swift
  travelPlan/Source/Domain/Tests/CultureFacilityUseCaseTests.swift
  travelPlan/Source/Domain/Tests/FestivalUseCaseTests.swift
  travelPlan/Source/Domain/Tests/LeportsUseCaseTests.swift
  travelPlan/Source/Domain/Tests/RestaurantUseCaseTests.swift
  travelPlan/Source/Domain/Tests/ShoppingUseCaseTests.swift
Labels: 🎁 Repository, ✅ Test, ✨ Rebuild, 🍣 Fix

#239 [Feature] 사용자 차단 레포지토리 firestore 사용해서 구현 및 테스트 했습니다.
  travelPlan/Source/Data/Common/Firebase/FirestoreRequestType.swift
  travelPlan/Source/Data/Network/Firestore/FirestoreUserBlockAPIEndpoint.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/BlockedUserProfileResponseDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/UserBlockResponseDTO.swift
  travelPlan/Source/Data/Repositories/Firestore/FirestoreUserBlockRepository.swift
  travelPlan/Source/Data/Repositories/Server/DefaultUserBlockRepository.swift
  travelPlan/Source/Data/Tests/FirestoreUserBlockRepositoryTests.swift
  travelPlan/Source/Domain/Entities/User/BlockedUserIdentifyEntity.swift
  travelPlan/Source/Domain/Entities/User/BlockedUserProfileEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/User/UserBlockRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockWrappedUserBlockRepository.swift
  travelPlan/Source/Domain/Tests/UserBlockUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/Protocol/User/UserBlockUseCase.swift
  travelPlan/Source/Domain/UseCases/User/DefaultUserBlockUseCase.swift
  travelPlan/Source/Local/MockJson/UserBlock/mock_blockedUsers_response.json
  travelPlan/Source/Local/MockJson/UserBlock/mock_userBlock_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, ✨ Rebuild, 🥰UseCase

#240 [Feature] 여행코스, 숙박 타입의 domain layer 및 data layer 구현
  travelPlan/Source/Common/Error/ConnectionError.swift
  travelPlan/Source/Common/Extension/XCTest+/Combine+XCTestHelpers.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourApiCommonResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoAccommodationResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoCourseResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoFestivalResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourIntroductionInfoShoppingResponseDTO.swift
  travelPlan/Source/Data/Network/TourAPI/TourAPIIntroductionEndpoints.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultIntroductionInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourCommonInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourFestivalInfoRepository.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourImageRetrieveInfoRepository.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/AccommodationEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/CourseEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoAccommodationEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoCourseEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoFestivalEntity.swift
  travelPlan/Source/Domain/Entities/TourDestinationType/IntroductionInfoShoppingEntity.swift
  travelPlan/Source/Domain/Entities/TourType.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourIntroductionInfoRepository.swift
  travelPlan/Source/Domain/Tests/AccommodationUseCaseTests.swift
  travelPlan/Source/Domain/Tests/CourseUseCaseTests.swift
  travelPlan/Source/Domain/Tests/FestivalUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Mock/MockTourIntroductionInfoRepository.swift
  travelPlan/Source/Domain/UseCases/Protocol/AccommodationUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/CourseUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultAccommodationUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultAttractionUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultCourseUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultCultureFacilityUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultFestivalUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultLeportsUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultRestaurantUseCase.swift
  travelPlan/Source/Domain/UseCases/Tour/DefaultShoppingUseCase.swift
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_accommodation.json
  travelPlan/Source/Local/MockJson/TourAPI/IntroductionInfo/en.lproj/mock_tourAPI_introductionInfo_course.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/Source/Local/Network/TourAPIMockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Data/DefaultTourIntroductionInfoRepositoryTests.swift
Labels: 💡 Feature, 🎁 Repository, ✅ Test, ✨ Rebuild, 🥰UseCase

#242 [Rebuild][Concept] 여행 포스트 상세 화면 뷰 모델을 분리했습니다.
  travelPlan/Source/Common/Protocol/ViewModelProtocols.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/PostCommentResponseDTO.swift
  travelPlan/Source/Domain/Entities/Post/Comment/PostCommentEntity.swift
  travelPlan/Source/Domain/Entities/Post/PostDetails.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockTourIntroductionInfoRepository.swift
  travelPlan/Source/Domain/UseCases/PostComment/PostCommentUseCaseImpl.swift
  travelPlan/Source/Presentation/ApplicationCoordinator.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Protocol/FeedViewModelable.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedViewModel.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostContentInfo.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostFooterInfo.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostHeaderContentBottomInfo.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostHeaderContentInfo.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostHeaderInfo.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostInfo.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostViewSection.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailChatDataSource.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailChatViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailChatViewModel.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailSection.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 👨‍💻 ViewModel, 📲 ViewController, ✨ Rebuild, 🍒 Todo, 🖋 Concept

#243 [Refactor] 메인검색화면에서 사용하는 TravelDestinationCell 리펙토링
  travelPlan/Source/Common/Protocol/Delegate/StarButtonDelegate.swift
  travelPlan/Source/Common/View/BaseDestinationView.swift
  travelPlan/Source/Common/View/Layout/TravelDestinationLayoutGroupProvider.swift
  travelPlan/Source/Presentation/Search/Model/SearchSectionModel.swift
  travelPlan/Source/Presentation/Search/Model/SearchSectionType.swift
  travelPlan/Source/Presentation/Search/Model/SearchTopTenModel.swift
  travelPlan/Source/Presentation/Search/Model/TravelDestinationModel.swift
  travelPlan/Source/Presentation/Search/View/MainSearchLayoutManager.swift
  travelPlan/Source/Presentation/Search/View/SearchDestinationCollectionViewLayout.swift
  travelPlan/Source/Presentation/Search/View/SearchFestivalCell.swift
  travelPlan/Source/Presentation/Search/View/SearchMoreDetailLayoutManager.swift
  travelPlan/Source/Presentation/Search/View/SearchTopTenCell.swift
  travelPlan/Source/Presentation/Search/View/TravelDestinationCell.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchMoreDetailViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchResultListViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Presentation/Search/ViewModel/Info/SearchFestivalInfo.swift
  travelPlan/Source/Presentation/Search/ViewModel/Info/TravelDestinationInfo.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchFestivalCellViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchMoreDetailViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchResultListViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchTopTenCellViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchViewModel.swift
  travelPlan/Source/Presentation/Search/ViewModel/TravelDestinationCellViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, 🗑 Remove, ✨ Rebuild

#244 [Feature] 포스트 상세화면 포스트 차단 ui 및 로직 구현했습니다.
  travelPlan/Source/Common/Combine/CombineCocoa/UIButton+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UIControl+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UISwitch+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UITextField+Combine.swift
  travelPlan/Source/Data/Repositories/Firestore/PostHeart/FirestoreOwnerHeartPostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/Post/MockPostsGeneratorForPaging.swift
  travelPlan/Source/Domain/Tests/Stub/User/StubUserStorage.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Protocol/FeedPostViewModelable.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailChatViewModel.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: 🖥 View, 🎨 Style, 📲 ViewController, 🖋 Concept
