Repository IF-TG/iOS, pull requests merged in 2024-03, with the labels that each got.

#166 [Fix] Network module make request 객체 및 Endpoint 개선
  travelPlan/Source/Core/Network/Module/Endpoint.swift
  travelPlan/Source/Core/Network/Module/ParameterType.swift
  travelPlan/Source/Core/Network/Module/Requestable.swift
  travelPlan/Source/Core/Network/Tests/EndpointTests.swift
  travelPlan/Source/Core/Network/Tests/Mocks/MockUserEndpoint.swift
  travelPlan/Source/Data/Network/NotificationAPIEndpoints.swift
  travelPlan/Source/Data/Network/UserInfoAPIEndpoint.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🏖 Common, ✅ Test, ✨ Rebuild

#167 [Feature] 사용자 프로필 업데이트, 삭제, 저장, 받기에 관해 Domain, Data layer 구현했습니다.
  travelPlan/.swiftlint.yml
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/RequestDTO/UserIdReqeustDTO.swift
  travelPlan/Source/Data/Network/RequestDTO/UserProfileRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/UserProfileResponseDTO.swift
  travelPlan/Source/Data/Network/Tests/UserInfoAPIEndpointTests.swift
  travelPlan/Source/Data/Network/UserInfoAPIEndpoint.swift
  travelPlan/Source/Data/Repositories/DefaultUserInfoRepository.swift
  travelPlan/Source/Domain/Entities/ProfileImageEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/UserInfoRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockUserInfoRepository.swift
  travelPlan/Source/Domain/Tests/UserInfoUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultUserInfoUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/UserInfoUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, 🏖 Common, ✅ Test, 🥰UseCase

#169 [Feature] Post 리스트 받아오는 Domain, Data layer 구현했습니다
  travelPlan/Source/Common/Mock/MockPostUseCase.swift
  travelPlan/Source/Common/Model/TravelTheme/PostFilterInfo.swift
  travelPlan/Source/Common/Model/TravelTheme/PostFilterOptions.swift
  travelPlan/Source/Common/ViewModel/PostViewModel.swift
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/DataMapper/SeasonMapper.swift
  travelPlan/Source/Data/Network/DataMapper/TravelMainThemeTypeMapper.swift
  travelPlan/Source/Data/Network/DataMapper/TravelOrderTypeMapper.swift
  travelPlan/Source/Data/Network/DataMapper/TravelPartnerMapper.swift
  travelPlan/Source/Data/Network/DataMapper/TravelRegionMapper.swift
  travelPlan/Source/Data/Network/DataMapper/TravelThemeMapper.swift
  travelPlan/Source/Data/Network/PostAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostsRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostContainerResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostResponseDTO.swift
  travelPlan/Source/Data/Network/Tests/PostAPIEndpointTests.swift
  travelPlan/Source/Data/Network/UserInfoAPIEndpoint.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Domain/Entities/Post.swift
  travelPlan/Source/Domain/Entities/PostContainer.swift
  travelPlan/Source/Domain/Entities/PostsPage.swift
  travelPlan/Source/Domain/Entities/TravelCategory/Season.swift
  travelPlan/Source/Domain/Entities/TravelCategory/TravelMainThemeType.swift
  travelPlan/Source/Domain/Entities/TravelCategory/TravelOrderType.swift
  travelPlan/Source/Domain/Entities/TravelCategory/TravelPartner.swift
  travelPlan/Source/Domain/Entities/TravelCategory/TravelRegion.swift
  travelPlan/Source/Domain/Entities/TravelCategory/TravelTheme.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Local/MockJson/mock_response_postContainer.json
  travelPlan/Source/Local/MockResponseType.swift
  travelPlan/Source/Local/MockUrlProtocol+.swift
  travelPlan/Source/Local/Network/MockSession.swift
  travelPlan/Source/Local/Network/MockUrlProtocol.swift
  travelPlan/Source/Presentation/Feed/Adapter/PostViewBottomSheetAdapter.swift
  travelPlan/Source/Presentation/Feed/Protocol/CategoryPageViewAdapterProtocol/CategoryPageViewDataSource.swift
  travelPlan/Source/Presentation/Feed/Protocol/PostView/FeedPostViewAdapterDataSource.swift
  travelPlan/Source/Presentation/Feed/Protocol/PostView/MoreMenuViewDelegate.swift
  travelPlan/Source/Presentation/Feed/View/CategoryPageView/CategoryPageView.swift
  travelPlan/Source/Presentation/Feed/View/PostView/PostChevronLabel.swift
  travelPlan/Source/Presentation/Feed/View/PostView/PostSortingAreaView.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Presentation/Feed/ViewController/PostFilteringBottomSheetViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/CategoryPageViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, 🏖 Common, ✅ Test, ✨ Rebuild, 🍒 Todo, 🥰UseCase

#170 [Refactor] Login Data Layer를 전체적으로 리펙토링했습니다.
  travelPlan/Source/Common/Extension/Data+.swift
  travelPlan/Source/Common/Extension/Double+.swift
  travelPlan/Source/Common/Extension/Int+.swift
  travelPlan/Source/Core/Network/AppleLoginStrategy.swift
  travelPlan/Source/Core/Network/AuthenticationService.swift
  travelPlan/Source/Core/Network/LoginStrategy.swift
  travelPlan/Source/Data/Network/LoginAPIEndPoints.swift
  travelPlan/Source/Data/Network/RequestDTO/LoginRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/JWTResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/LoginResponseDTO.swift
  travelPlan/Source/Data/PersistentStorages/KeychainStorage/KeychainKey.swift
  travelPlan/Source/Data/PersistentStorages/KeychainStorage/KeychainManager.swift
  travelPlan/Source/Data/PersistentStorages/LoginResponseStorage/KeychainLoginResponseStorage.swift
  travelPlan/Source/Data/PersistentStorages/LoginResultStorage/LoginResultStorage.swift
  travelPlan/Source/Data/PersistentStorages/LoginResultStorage/UserDefaultsLoginResultStorage.swift
  travelPlan/Source/Data/Repositories/DefaultLoginRepository.swift
  travelPlan/Source/Domain/Entities/OAuthType.swift
  travelPlan/Source/Domain/Interfaces/Repositories/LoginRepository.swift
  travelPlan/Source/Domain/UseCases/LoginUseCase.swift
  travelPlan/Source/Presentation/Authentication/Login/Coordinator/LoginCoordinator.swift
  travelPlan/Source/Presentation/Authentication/Login/Service/AuthenticationService.swift
  travelPlan/Source/Presentation/Authentication/Login/ViewController/LoginViewController.swift
  travelPlan/Source/Presentation/Authentication/Login/ViewModel/LoginViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Common/Extension/DataConverterTests.swift
  travelPlan/travelPlanTests/Core/KeychainManagerTests.swift
Labels: 🎁 Repository, 🎨 Style, 🗑 Remove, ✅ Test, ✨ Rebuild

#173 [Fix] Data 디렉터리에 중복된 디렉터리 제거했습니다.
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: ✨ Rebuild

#172 [ Style] Common 디렉터리에 정의된 Post, Feed에 정의된 PostDetail을 Presentation layer 디렉터리 안으로 이동했습니다.
  travelPlan/Source/Common/Utils/ShadowInfo.swift
  travelPlan/Source/Common/Utils/UISpacing.swift
  travelPlan/Source/Common/ViewController/ViewController.swift
  travelPlan/Source/Presentation/Feed/Model/PostFilterInfo.swift
  travelPlan/Source/Presentation/Feed/Model/PostFilterOptions.swift
  travelPlan/Source/Presentation/Post/Adapter/PostViewAdapter.swift
  travelPlan/Source/Presentation/Post/Mock/MockPostUseCase.swift
  travelPlan/Source/Presentation/Post/Model/PostContentInfo.swift
  travelPlan/Source/Presentation/Post/Model/PostFooterInfo.swift
  travelPlan/Source/Presentation/Post/Model/PostHeaderContentBottomInfo.swift
  travelPlan/Source/Presentation/Post/Model/PostHeaderContentInfo.swift
  travelPlan/Source/Presentation/Post/Model/PostHeaderInfo.swift
  travelPlan/Source/Presentation/Post/Model/PostInfo.swift
  travelPlan/Source/Presentation/Post/Protocol/PostCellConfigurable.swift
  travelPlan/Source/Presentation/Post/Protocol/PostViewAdapterDataSource.swift
  travelPlan/Source/Presentation/Post/View/BasePostView.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFiveThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithFourThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithOneThumbnail.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithThreeThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCellWithTwoThumbnails.swift
  travelPlan/Source/Presentation/Post/View/PostCollectionView.swift
  travelPlan/Source/Presentation/Post/View/PostFooterView.swift
  travelPlan/Source/Presentation/Post/View/PostHeaderContentBottomView.swift
  travelPlan/Source/Presentation/Post/View/PostHeaderContentView.swift
  travelPlan/Source/Presentation/Post/View/PostHeaderView.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostCellViewModel.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostViewModel.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailCategoryHeaderViewDelegate.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewAdapterDelegate.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Presentation/PostDetail/View/BasePostDetailCommentableView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCategoryHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentFooterView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentImageCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentInfo.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentTextCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailInputAccessoryWrapper.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaFooterView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailReplyCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailTitleCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostProfileAndCommentView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostViewBottomSheetCell.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🎨 Style

#174 [Feature] 피드 포스트 서버에서 받아오는 로직 구현 및 refresh, paging기능 구현했습니다.
  travelPlan/Source/Common/View/BottomNextPageIndicatorCell.swift
  travelPlan/Source/Common/View/BottomNextPageIndicatorCell.xib
  travelPlan/Source/Data/Network/ResponseDTO/PostContainerResponseDTO.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Domain/Entities/PostCategory.swift
  travelPlan/Source/Domain/Entities/PostContainer.swift
  travelPlan/Source/Domain/Entities/PostThumbnailValue.swift
  travelPlan/Source/Domain/Entities/PostsPage.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Local/MockJson/mock_response_postContainer.json
  travelPlan/Source/Presentation/ApplicationCoordinator.swift
  travelPlan/Source/Presentation/Favorite/Adapter/FavoritePostViewAdapter.swift
  travelPlan/Source/Presentation/Favorite/ViewController/FavoriteDetailViewController.swift
  travelPlan/Source/Presentation/Favorite/ViewController/FavoritePostViewController.swift
  travelPlan/Source/Presentation/Favorite/ViewModel/FavoritePostViewModel.swift
  travelPlan/Source/Presentation/Feed/Adapter/FeedPostViewAdapter.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Model/PostFilterInfo.swift
  travelPlan/Source/Presentation/Feed/Protocol/CategoryPageViewAdapterProtocol/CategoryPageViewDataSource.swift
  travelPlan/Source/Presentation/Feed/Protocol/FeedPostViewModelable.swift
  travelPlan/Source/Presentation/Feed/Protocol/PostView/PostViewAdapterDelegate.swift
  travelPlan/Source/Presentation/Feed/Utils/PostMapper.swift
  travelPlan/Source/Presentation/Feed/View/CategoryPageView/CategoryPageView.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/CategoryPageViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Post/Adapter/PostViewAdapter.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/Source/Presentation/Post/Model/PostViewSection.swift
  travelPlan/Source/Presentation/Post/Protocol/PostViewAdapterDataSource.swift
  travelPlan/Source/Presentation/Post/View/PostCollectionView.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 👨‍💻 ViewModel, 🎁 Repository, 🎨 Style, 📲 ViewController, ✅ Test, ✨ Rebuild, 🥰UseCase

#175 [Feature] 피드 포스트 댓글들 불러오기 도메인, 데이터 layer 구현
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Core/Network/Tests/EndpointTests.swift
  travelPlan/Source/Data/Network/CommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/PostAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostCommentsRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostCommentContainerResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostCommentResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostNestedCommentResponseDTO.swift
  travelPlan/Source/Data/Network/Tests/PostAPIEndpointTests.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Domain/Entities/PostCommentContainerEntity.swift
  travelPlan/Source/Domain/Entities/PostCommentEntity.swift
  travelPlan/Source/Domain/Entities/PostNestedCommentEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Local/MockJson/mock_response_postCommentContainer.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Presentation/Profile/MyInformationViewModelTests.swift
Labels: 🎁 Repository, ✅ Test, 🥰UseCase

#177 [Feature] 피드 포스트 댓글 전송 domain, data layer구현 및 테스트
  travelPlan/Source/Common/Error/ConnectionError.swift
  travelPlan/Source/Common/Error/ReferenceError.swift
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Core/Network/Module/Requestable.swift
  travelPlan/Source/Data/Network/CommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/PostCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostCommentSendingRequestDTO.swift
  travelPlan/Source/Data/Network/Tests/PostCommentAPIEndpointTests.swift
  travelPlan/Source/Data/Repositories/DefaultMyProfileRepository.swift
  travelPlan/Source/Data/Repositories/DefaultPostCommentRepository.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Local/MockJson/PostComment/mock_response_postCommentContainer.json
  travelPlan/Source/Local/MockJson/PostComment/mock_response_postComments_whenCommentSend.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🎁 Repository, 🏖 Common, ✅ Test, 🥰UseCase

#179 Test/post api endpoint and rebuild postuse case post repository
  travelPlan/Source/Common/Error/ConnectionError.swift
  travelPlan/Source/Data/Network/RequestDTO/PostsRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostContainerResponseDTO.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Data/Tests/PostAPIEndpointTests.swift
  travelPlan/Source/Data/Tests/UserInfoAPIEndpointTests.swift
  travelPlan/Source/Domain/Entities/PostContainer.swift
  travelPlan/Source/Domain/Entities/PostThumbnails.swift
  travelPlan/Source/Domain/Entities/PostsPage.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockMyProfileRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Presentation/Favorite/ViewModel/FavoritePostViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Presentation/Profile/MyInformationViewModelTests.swift
Labels: ✅ Test, ✨ Rebuild

#180 [Feature] 피드 포스트 상세 화면의 댓글 수정 및 삭제 Domain, Data layer 추가했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Core/Network/Tests/EndpointTests.swift
  travelPlan/Source/Data/Network/PostCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostCommentDeleteRequestDTO.swift
  travelPlan/Source/Data/Network/RequestDTO/PostCommentUpdateRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostCommentContainerResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostCommentUpdateResponseDTO.swift
  travelPlan/Source/Data/Network/Tests/PostCommentAPIEndpointTests.swift
  travelPlan/Source/Data/Repositories/DefaultPostCommentRepository.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Domain/Entities/UpdatedPostCommentEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentUseCase.swift
  travelPlan/Source/Local/MockJson/PostComment/mock_postComment_delete_response.json
  travelPlan/Source/Local/MockJson/PostComment/mock_postComment_update_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlanTests/Presentation/Profile/MyInformationViewModelTests.swift
Labels: 🎁 Repository, ✅ Test, 🥰UseCase

#181 [Feature] 피드 포스트 댓글 리스트 Domain, Data layer구현했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/PostCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/Tests/PostCommentAPIEndpointTests.swift
  travelPlan/Source/Data/Repositories/DefaultPostCommentRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Local/MockJson/PostComment/mock_postComment_fetchComments_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, 🎨 Style, ✅ Test, 🥰UseCase

#182 [Feature] 피드 포스트 대댓글 입력, 수정, 삭제 Domain, Data layer 추가
  travelPlan/Source/Common/Extension/XCTestCasej+UseCaseTestsHelpers.swift
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/PostNestedCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostNestedCommentDeleteRequestDTO.swift
  travelPlan/Source/Data/Network/RequestDTO/PostNestedCommentSendRequestDTO.swift
  travelPlan/Source/Data/Network/RequestDTO/PostNestedCommentUpdateRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostUpdatedNestedCommentResponseDTO.swift
  travelPlan/Source/Data/Repositories/DefaultPostNestedCommentRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostNestedCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostNestedCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostNestedCommentUseCase.swift
  travelPlan/Source/Local/MockJson/NestedPostComment/mock_postNestedComemnt_delete_response.json
  travelPlan/Source/Local/MockJson/NestedPostComment/mock_postNestedComment_send_response.json
  travelPlan/Source/Local/MockJson/NestedPostComment/mock_postNestedComment_update_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, 🏖 Common, ✅ Test, 🥰UseCase

#183 [Feature] 피드 포스트 댓글 좋아요 할때 서버에 저장하는로직 관련 Domain, Data layer 추가했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/PostCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostCommentHeartToggleRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostCommentHeartToggleResponseDTO.swift
  travelPlan/Source/Data/Network/Tests/PostCommentAPIEndpointTests.swift
  travelPlan/Source/Data/Repositories/DefaultPostCommentRepository.swift
  travelPlan/Source/Domain/Entities/ToggledPostCommentHeartEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentUseCase.swift
  travelPlan/Source/Local/MockJson/PostComment/mock_postComment_toggleCommentHeart_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, 🥰UseCase
