Repository IF-TG/iOS, pull requests merged in 2024-09, with the labels that each got.

#285 [Feature] 여행 후기 글 작성 화면에서 사용자가 카테고리 선정 후 카테고리 변경시 이전 선정된 카테고리 적용하도록 반영했습니다.
  README.md
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Feed/ViewController/BottomSheet/PostReviewWritingCategoryBottomSheet.swift
  travelPlan/Source/Presentation/ReviewWriting/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Presentation/ReviewWriting/ViewModel/DefaultReviewWritingViewModel.swift
Labels: 🖥 View, 👨‍💻 ViewModel, 🐾 Coordinator

#286 [Docs] 목업 추가했습니다: )
  README.md
Labels: 📜 Documentation

#288 [Refactor] 리뷰작성의 포스트 구분자 로직 구현
  travelPlan/Source/Application/DIContainer/AppDIContainer.swift
  travelPlan/Source/Application/DIContainer/ServiceName.swift
  travelPlan/Source/Common/Extension/UIKit+/UITextField+.swift
  travelPlan/Source/Common/Extension/UIKit+/UITextView+.swift
  travelPlan/Source/Data/Assembly/SpringServerRepositoryAssembly.swift
  travelPlan/Source/Data/Network/Server/RequestDTO/ReviewWritingSaveRequestDTO.swift
  travelPlan/Source/Data/Network/Server/ResponseDTO/PostResponseDTO.swift
  travelPlan/Source/Data/Tests/JsonMockPostRepositoryTests.swift
  travelPlan/Source/Data/Tests/ReviewWritingSaveRequestDTOTests.swift
  travelPlan/Source/Domain/Assembly/DomainAssembly.swift
  travelPlan/Source/Domain/Entities/Post/Post.swift
  travelPlan/Source/Domain/Tests/Mock/JsonMockPostRepository.swift
  travelPlan/Source/Domain/UseCases/Protocol/Destination/DestinationRecommendUseCase.swift
  travelPlan/Source/Local/MockJson/mock_response_postContainer.json
  travelPlan/Source/Presentation/Assembly/PresentationAssembly.swift
  travelPlan/Source/Presentation/Feed/View/ReviewWriting/ReviewWritingBottomView.swift
  travelPlan/Source/Presentation/Feed/View/ReviewWriting/ReviewWritingContentView.swift
  travelPlan/Source/Presentation/Feed/ViewController/BottomSheet/PostReviewWritingCategoryBottomSheet.swift
  travelPlan/Source/Presentation/ReviewWriting/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Presentation/ReviewWriting/Protocol/ReviewWritingContentViewDelegate.swift
  travelPlan/Source/Presentation/ReviewWriting/ViewController/ReviewWritingViewController.swift
  travelPlan/Source/Presentation/ReviewWriting/ViewModel/DefaultReviewWritingViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🏖 Common, ✅ Test, ✨ Rebuild
