Repository IF-TG/iOS, pull requests merged in 2024-04, with the labels that each got.

#184 [Fix] 최초 접근권한 설정 시, 앨범 화면에 빈 화면이 뜨는 버그 해결
  travelPlan/Source/Common/Utils/PhotoService/DefaultPhotoService.swift
  travelPlan/Source/Common/Utils/PhotoService/PhotoService.swift
  travelPlan/Source/Domain/UseCases/DefaultPhotoAuthorizationUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PhotoAuthorizationUseCase.swift
  travelPlan/Source/Presentation/Album/Coordinator/AlbumCoordinator.swift
  travelPlan/Source/Presentation/Album/Protocol/PhotoAuthorizationViewDelegate.swift
  travelPlan/Source/Presentation/Album/View/PhotoAuthorizationView.swift
  travelPlan/Source/Presentation/Album/ViewController/AlbumViewController.swift
  travelPlan/Source/Presentation/Album/ViewModel/AlbumViewModel.swift
  travelPlan/Source/Presentation/Feed/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Presentation/Feed/Protocol/ReviewWriting/ReviewWritingBottomViewDelegate.swift
  travelPlan/Source/Presentation/Feed/View/ReviewWriting/ReviewWritingBottomView.swift
  travelPlan/Source/Presentation/Feed/ViewController/ReviewWritingViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/ReviewWritingViewModel.swift
  travelPlan/Source/Presentation/Login/Coordinator/LoginCoordinator.swift
  travelPlan/Source/Presentation/Login/Protocol/LoginButtonDelegate.swift
  travelPlan/Source/Presentation/Login/Supporter/LoginPlayerSupporter.swift
  travelPlan/Source/Presentation/Login/View/AppleLoginButton.swift
  travelPlan/Source/Presentation/Login/View/GoogleLoginButton.swift
  travelPlan/Source/Presentation/Login/View/KakaoLoginButton.swift
  travelPlan/Source/Presentation/Login/View/LoginStartView.swift
  travelPlan/Source/Presentation/Login/View/LoginView.swift
  travelPlan/Source/Presentation/Login/ViewController/LoginViewController.swift
  travelPlan/Source/Presentation/Login/ViewModel/LoginViewModel.swift
  travelPlan/Source/Support/Info.plist
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, ✨ Rebuild, 🍣 Fix, 🥰UseCase

#185 [Feature] 피드 포스트 대댓글 좋아요 toggle Domain, Data layer 구현했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/PostNestedCommentAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostNestedCommentHeartToggleRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostCommentHeartToggleResponseDTO.swift
  travelPlan/Source/Data/Repositories/DefaultPostNestedCommentRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/PostNestedCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostNestedCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostNestedCommentUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, 🥰UseCase

#188 [Feature] 앨범화면에서 '더 많은 사진 선택' 로직 구현
  travelPlan/Source/Common/Utils/PhotoService/DefaultPhotoService.swift
  travelPlan/Source/Common/Utils/PhotoService/PhotoService.swift
  travelPlan/Source/Domain/UseCases/DefaultAlbumUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultPhotoAuthorizationUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/AlbumUseCase.swift
  travelPlan/Source/Presentation/Album/Coordinator/AlbumCoordinator.swift
  travelPlan/Source/Presentation/Album/ViewController/AlbumViewController.swift
  travelPlan/Source/Presentation/Album/ViewModel/AlbumViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewController/ReviewWritingViewController.swift
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, 🐾 Coordinator, 🥰UseCase

#186 [Feature] 로그인한 사용자가 좋아요한 모든 포스트 가져올 수 있는 로직 Domain, Data layer 구현했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/PostAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/LikedPostsByLoggedInUserRequestDTO.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/LoggedInUserRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Presentation/Favorite/ViewController/FavoriteDetailViewController.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, ✨ Rebuild, 🥰UseCase

#187 [Feature] 사용자 차단 관련 도메인, 데이터 layer 구현 및 테스트했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/RequestDTO/UserBlockRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/BlockedUserProfileResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/UserBlockResponseDTO.swift
  travelPlan/Source/Data/Network/UserBlockAPIEndpoint.swift
  travelPlan/Source/Data/Repositories/DefaultUserBlockRepository.swift
  travelPlan/Source/Domain/Entities/BlockedUserIdentifyEntity.swift
  travelPlan/Source/Domain/Entities/BlockedUserProfileEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/UserBlockRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockWrappedUserBlockRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/Tests/UserBlockUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultUserBlockUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/UserBlockUseCase.swift
  travelPlan/Source/Local/MockJson/UserBlock/mock_blockedUsers_response.json
  travelPlan/Source/Local/MockJson/UserBlock/mock_userBlock_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, 🥰UseCase

#190 [Refactor] 서버 호출관련 레포지토리 프로토콜 및 구현체들 반환 타입 Future -> AnyPublisher로 변경했습니다.
  travelPlan/Source/Common/View/BottomSheetView.swift
  travelPlan/Source/Data/Network/DataMapper/TravelMainThemeTypeMapper.swift
  travelPlan/Source/Data/Network/DataMapper/TravelRegionMapper.swift
  travelPlan/Source/Data/Repositories/DefaultMyProfileRepository.swift
  travelPlan/Source/Data/Repositories/DefaultNotificationRepository.swift
  travelPlan/Source/Data/Repositories/DefaultOthersProfileRepository.swift
  travelPlan/Source/Data/Repositories/DefaultPostCommentRepository.swift
  travelPlan/Source/Data/Repositories/DefaultPostNestedCommentRepository.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Data/Repositories/DefaultUserBlockRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/MyProfileRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/NotificationRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostCommentRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostNestedCommentRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/UserBlockRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/UserRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockMyProfileRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockWrappedUserBlockRepository.swift
  travelPlan/Source/Presentation/Feed/ViewController/BottomSheet/PostMainThemeCategoryBottomSheet.swift
  travelPlan/Source/Presentation/Notification/View/NotificationInfo.swift
  travelPlan/Source/Presentation/Notification/ViewController/NotificationViewController.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/Search/ViewController/SearchViewController.swift
  travelPlan/Source/Presentation/Search/ViewModel/SearchViewModel.swift
Labels: 🎁 Repository, 🎨 Style, ✨ Rebuild

#189 [Feature] 피드 포스트 클릭시 상세화면 이동할 때 post기반으로 데이터 보여주도록 연동 했습니다.
  travelPlan/Source/Common/View/BaseLabel.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostContainerResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostResponseDTO.swift
  travelPlan/Source/Domain/Entities/Post.swift
  travelPlan/Source/Domain/Entities/PostDetails.swift
  travelPlan/Source/Presentation/Favorite/ViewModel/FavoritePostViewModel.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Utils/PostMapper.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/Source/Presentation/Notification/View/NotificationCell.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/Source/Presentation/Post/ViewModel/PostViewModel.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewAdapterDelegate.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCategoryHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentType.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, ✨ Rebuild, 🥰UseCase

#192 [Feature] AlbumPhotoDetail화면의 UI를 구현했습니다.
  travelPlan/Source/Presentation/Album/Coordinator/AlbumCoordinator.swift
  travelPlan/Source/Presentation/Album/Coordinator/AlbumPhotoDetailCoordinator.swift
  travelPlan/Source/Presentation/Album/View/PhotoCell.swift
  travelPlan/Source/Presentation/Album/View/PhotoOrderView.swift
  travelPlan/Source/Presentation/Album/View/SlideUpAnimator.swift
  travelPlan/Source/Presentation/Album/ViewController/AlbumPhotoDetailViewController.swift
  travelPlan/Source/Presentation/Album/ViewController/AlbumViewController.swift
  travelPlan/Source/Presentation/Album/ViewController/PhotoDetailViewController.swift
  travelPlan/Source/Presentation/Album/ViewModel/AlbumPhotoDetailViewModel.swift
  travelPlan/Source/Presentation/Album/ViewModel/AlbumViewModel.swift
  travelPlan/Source/Presentation/Feed/ViewController/ReviewWritingViewController.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController

#193 [Feature] 찜화면 포스트 불러오기, 포스트 디렉터리 이름 업데이트, 포스트 scrap Domain, Data layer 구현했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/FavoritePostAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/FavoritePostDirectoryNameUpdateRequestDTO.swift
  travelPlan/Source/Data/Network/RequestDTO/FavoritePostRequestDTO.swift
  travelPlan/Source/Data/Network/RequestDTO/FavoritePostScrapRequestDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/FavoritePostDirectoryNameUpdateResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/FavoritePostScrapResponseDTO.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostResponseDTO.swift
  travelPlan/Source/Data/Repositories/DefaultFavoritePostInDirectoryRepository.swift
  travelPlan/Source/Domain/Entities/FavoritePostToggleEntity.swift
  travelPlan/Source/Domain/Entities/UpdatedFavoritePostDirectoryName.swift
  travelPlan/Source/Domain/Interfaces/Repositories/FavoritePostInDirectoryRepository.swift
  travelPlan/Source/Domain/Tests/FavoritePostInDirectoryUseCaseTests.swift
  travelPlan/Source/Domain/Tests/Mock/MockFavoritePostInDirectoryRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockMyProfileUseCase.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockWrappedUserBlockRepository.swift
  travelPlan/Source/Domain/UseCases/DefaultFavoritePostInDirectoryUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/FavoritePostInDirectoryUseCase.swift
  travelPlan/Source/Local/MockJson/FavoriteDIrectory/mock_favoritePostDirectoryName_update_response.json
  travelPlan/Source/Local/MockJson/FavoriteDIrectory/mock_favoritePosts_fetch_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/Source/Presentation/Feed/ViewController/FeedPostViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/FeedPostViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, 🎨 Style, ✅ Test, 🥰UseCase

#194 [Style] RequestType.swift 구조체 전리 및 .custom코드 제거
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Core/Network/Tests/EndpointTests.swift
  travelPlan/Source/Core/Network/Tests/Mocks/MockUserEndpoint.swift
  travelPlan/Source/Data/Network/LoginAPIEndPoints.swift
  travelPlan/Source/Data/Network/UserBlockAPIEndpoint.swift
  travelPlan/Source/Data/Network/UserInfoAPIEndpoint.swift
Labels: 🏖 Common, 🎨 Style

#195 [Feature] 피드 포스트 검색 Domain, Data layer 구현했습니다.
  travelPlan/Source/Core/Network/Module/RequestType.swift
  travelPlan/Source/Data/Network/PostAPIEndpoint.swift
  travelPlan/Source/Data/Network/RequestDTO/PostSearchRequestDTO.swift
  travelPlan/Source/Data/Repositories/DefaultPostRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostRepository.swift
  travelPlan/Source/Domain/Tests/PostUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Local/MockJson/mock_posts_response.json
  travelPlan/Source/Local/Network/MockResponseType.swift
  travelPlan/Source/Presentation/Post/MockPostUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, 🥰UseCase

#196 [Fix] Scrollable 뷰에서도 인디케이터 뷰 위치 가운데 수정 | 포스트 섬네일 이름, 날짜 라인 수정 | 포스트 상세 화면에서 발생하던 ui에러 수정
  travelPlan/Source/Common/Extension/UIViewController+Indicator.swift
  travelPlan/Source/Common/View/BaseProfileAreaView.swift
  travelPlan/Source/Presentation/Post/View/PostHeaderContentBottomView.swift
  travelPlan/Source/Presentation/PostDetail/View/BasePostDetailCommentableView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
Labels: 🖥 View, 🏖 Common, 🍣 Fix

#199 [Feature] 피드 상세 화면 사용자 차단 및 신고UI 구현, [Concept] ViewModelActions 도입했습니다.
  travelPlan/Source/Domain/Entities/PostReportType.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Extension/PostDetailViewController+RegisterReusableViews.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostOptionResultAlertController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/Source/Support/Assets.xcassets/feedIcon/block_success_icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/block_success_icon.imageset/block_success_icon.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/block_success_icon.imageset/block_success_icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/block_success_icon.imageset/block_success_icon@3x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/report_success_icon.imageset/Contents.json
  travelPlan/Source/Support/Assets.xcassets/feedIcon/report_success_icon.imageset/report_success_icon.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/report_success_icon.imageset/report_success_icon@2x.png
  travelPlan/Source/Support/Assets.xcassets/feedIcon/report_success_icon.imageset/report_success_icon@3x.png
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/xcshareddata/xcschemes/travelPlan.xcscheme
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController, 🖋 Concept

#201 [Rebuild] post detail content Type로 사용된 모델을 domain으로 변경 및 관련 코드 수정
  travelPlan/Source/Domain/Entities/PostDetails.swift
  travelPlan/Source/Presentation/Feed/Utils/PostMapper.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Presentation/PostDetail/View/PostContentEntity.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailContentImageCell.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: ✨ Rebuild

#200 [Feature] 피드 상세화면 카테고리 ui 구현했습니다.
  travelPlan/Source/Common/View/BaseLabel.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCategoryCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCategoryCell.xib
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailCategoryViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/xcshareddata/xcschemes/travelPlan.xcscheme
  travelPlan/travelPlan.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🖥 View, 📲 ViewController

#203 [Feature] 포스트 상세 화면 댓글, 대댓글 작성시 삭제 로직 UI구현 및 api 연동했습니다. | 에러 흐름 로직 처리 설명🤩
  travelPlan/Source/Common/Extension/UITableView+Helpers.swift
  travelPlan/Source/Domain/Entities/PostCommentEntity.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Extension/PostDetailViewController+RegisterReusableViews.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewDataSource.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/BasePostDetailCommentableView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailDeletedOrUnknwonCommentHeader.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailReplyCell.swift
  travelPlan/Source/Presentation/PostDetail/View/PostHeartAndShareAreaHeaderView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🖥 View, 👨‍💻 ViewModel, 🏖 Common, 📲 ViewController, 🖋 Concept, 🥰UseCase

#204 [Common] 컴바인에서 사용할 있는 인디케이터 객체 구현했습니다. | 에러 흐름 처리 로직 개선
  travelPlan/Source/Common/Combine/CombineCocoa/UIButton+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UIControl+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UIControl+CombineInteraction.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UIGestureRecognizer+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UIGestureRecognizer+GestureType.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UISwitch+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UITextField+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UIView+Combine.swift
  travelPlan/Source/Common/Combine/CombineCocoa/UIView+WrapperPublisher.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 💡 Feature, 🏖 Common, ✅ Test

#205 [Feature] 리뷰작성 edit 모드 구현
  travelPlan/Source/Data/Repositories/DefaultReviewWritingRepository.swift
  travelPlan/Source/Domain/Entities/PostContentEntity.swift
  travelPlan/Source/Domain/Entities/ReviewWritingEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/ReviewWritingRepository.swift
  travelPlan/Source/Domain/UseCases/DefaultReviewWritingUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/ReviewWritingUseCase.swift
  travelPlan/Source/Presentation/Feed/Coordinator/FeedCoordinator.swift
  travelPlan/Source/Presentation/Feed/Coordinator/ReviewWritingCoordinator.swift
  travelPlan/Source/Presentation/Feed/View/ReviewWriting/PictureImageView.swift
  travelPlan/Source/Presentation/Feed/View/ReviewWriting/ReviewWritingContentView.swift
  travelPlan/Source/Presentation/Feed/ViewController/ReviewWritingViewController.swift
  travelPlan/Source/Presentation/Feed/ViewModel/ReviewWritingViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController

#206 [Feature] 피드 상세 화면 포스트 댓글, 대댓글 수정 로직 추가.[Common] TooltipView 구현했습니다.
  travelPlan/Source/Common/View/BottomBasedTooltipView.swift
  travelPlan/Source/Common/View/CommentInputView.swift
  travelPlan/Source/Data/Network/ResponseDTO/PostCommentUpdateResponseDTO.swift
  travelPlan/Source/Data/Repositories/DefaultPostCommentRepository.swift
  travelPlan/Source/Domain/Entities/PostNestedCommentEntity.swift
  travelPlan/Source/Domain/Entities/UpdatedPostCommentEntity.swift
  travelPlan/Source/Domain/Interfaces/Repositories/PostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostCommentRepository.swift
  travelPlan/Source/Domain/Tests/Mock/MockPostNestedCommentRepository.swift
  travelPlan/Source/Domain/Tests/PostCommentUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultPostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentUseCase.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Extension/PostDetailViewController+TableViewHelpers.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailInputAccessoryWrapper.swift
  travelPlan/Source/Presentation/PostDetail/View/PostProfileAndCommentView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 🏖 Common, 📲 ViewController, 🥰UseCase

#207 [Feature] 포스트 상세 화면 네비 바 title 이상한 시점에 애니메이션 호출되는거 에러 수정. 설정 화면 쉐도우 추가 및 Actions 도입했습니다.
  travelPlan/Source/Domain/Entities/SettingType.swift
  travelPlan/Source/Domain/Tests/Mock/MockMyProfileUseCase.swift
  travelPlan/Source/Presentation/Main/Coordinator/MainCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Adapter/PostDetailTableViewAdapter.swift
  travelPlan/Source/Presentation/PostDetail/Coordinator/PostDetailCoordinator.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailTableViewAdapterDelegate.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaFooterView.swift
  travelPlan/Source/Presentation/PostDetail/View/PostDetailProfileAreaView.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  travelPlan/Source/Presentation/Profile/Protocol/MyInformationViewModelable.swift
  travelPlan/Source/Presentation/Setting/Coordinator/MyInformationCoordinator.swift
  travelPlan/Source/Presentation/Setting/Coordinator/SettingCoordinator.swift
  travelPlan/Source/Presentation/Setting/Protocol/MyInformationViewModelable.swift
  travelPlan/Source/Presentation/Setting/Protocol/SettingViewModelable.swift
  travelPlan/Source/Presentation/Setting/View/ConnectedSNSStackView.swift
  travelPlan/Source/Presentation/Setting/View/SettingMyProfileView.swift
  travelPlan/Source/Presentation/Setting/View/SettingTopSheetView.swift
  travelPlan/Source/Presentation/Setting/View/SettingUserNameTextField.swift
  travelPlan/Source/Presentation/Setting/ViewController/BaseSettingViewController.swift
  travelPlan/Source/Presentation/Setting/ViewController/CustomerServiceViewController.swift
  travelPlan/Source/Presentation/Setting/ViewController/MyInformationAlbumSheetViewController.swift
  travelPlan/Source/Presentation/Setting/ViewController/MyInformationViewController.swift
  travelPlan/Source/Presentation/Setting/ViewController/OperationGuideViewController.swift
  travelPlan/Source/Presentation/Setting/ViewController/SettingViewController.swift
  travelPlan/Source/Presentation/Setting/ViewModel/MyInformationViewModel.swift
  travelPlan/Source/Presentation/Setting/ViewModel/SettingViewModel.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  travelPlan/travelPlan.xcodeproj/xcshareddata/xcschemes/travelPlan.xcscheme
Labels: 💡 Feature, 🖥 View, 👨‍💻 ViewModel, 📲 ViewController

#208 [Migrate] CocoaPods로 의존성 관리 중인 swiftlint 라이브러리를 local로 바꾸는건 어떨까요?
  travelPlan/Podfile
  travelPlan/Podfile.lock
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcworkspace/contents.xcworkspacedata
  travelPlan/travelPlan.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  travelPlan/travelPlan.xcworkspace/xcshareddata/swiftpm/Package.resolved
  travelPlan/travelPlanTests/Presentation/Profile/MyInformationViewModelTests.swift
Labels: 🏖 Common, ✨ Rebuild

#211 [Feature][개념 소개] 파이어베이스 module 구현했습니다.
  travelPlan/Source/Core/Firebase/FirestoreEndpoint.swift
  travelPlan/Source/Core/Firebase/FirestoreRequestType.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
  travelPlan/travelPlan.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: 🏖 Common, 🖋 Concept, 🥳 Library

#213 [Remove] pbxproj target membership 중복되는 파일들 해제했습니다.
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🗑 Remove

#214 [Fix] Tour api의 요청, 응답을 제어하는 tour api session provider 대폭 수정! (request 내부에 여러 상황에 따른 에러 던지는 로직을 추가했습니다)
  travelPlan/Source/Core/XMLParser/Module/XMLParsingService.swift
  travelPlan/Source/Core/XMLParser/Module/XMLParsingServiceProtocol.swift
  travelPlan/Source/Core/XMLParser/Tests/XMLParsingServiceTests.swift
  travelPlan/Source/Data/Common/TourApiError.swift
  travelPlan/Source/Data/Common/TourApiSessionProvider.swift
  travelPlan/Source/Data/Network/TourAPI/ResponseDTO/TourApiErrorResponseDTO.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourDestinationRepository.swift
  travelPlan/Source/Data/Tests/Mock/MockEndpoint.swift
  travelPlan/Source/Data/Tests/TourApiSessionProviderTests.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🏖 Common, 🖋 Concept, 🍣 Fix

#216 [Feature] 포스트 상세화면에서 포스트 저자의 경우 네비바에 편집, 아닌 경우 찜 버튼 동작하도록 구현했습니다.
  travelPlan/Source/Data/Tests/Mock/MockEndpoint.swift
  travelPlan/Source/Presentation/PostDetail/Protocol/PostDetailViewModelable.swift
  travelPlan/Source/Presentation/PostDetail/ViewController/PostDetailViewController.swift
  travelPlan/Source/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: 👨‍💻 ViewModel, 📲 ViewController

#218 [Refactor] Tour api 공통정보조회 detail common fetch를 담당하는 Data, Domain layer 객체 네이밍 수정 및 UseCase 디렉터리 재 정리했습니다.
  travelPlan/Source/Data/Network/TourAPI/TourDetailCommonAPIEndpoint.swift
  travelPlan/Source/Data/Repositories/TourAPI/DefaultTourDetailCommonRepository.swift
  travelPlan/Source/Domain/Interfaces/Repositories/TourAPI/TourDetailCommonRepository.swift
  travelPlan/Source/Domain/Tests/FetchTourApiDetailCommonUseCaseTests.swift
  travelPlan/Source/Domain/UseCases/DefaultAlbumPhotoMaxCountUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultAlbumUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultFavoritePostInDirectoryUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultLoggedInUserUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultMyProfileUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultNoticeUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultPhotoAuthorizationUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultPostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultPostNestedCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultPostUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultReviewWritingUseCase.swift
  travelPlan/Source/Domain/UseCases/DefaultUserBlockUseCase.swift
  travelPlan/Source/Domain/UseCases/FetchTourApiDetailCommonUseCase.swift
  travelPlan/Source/Domain/UseCases/LoginUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/AlbumPhotoMaxCountUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/AlbumUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/FavoritePostInDirectoryUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/LoggedInUserUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/MyProfileUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/NoticeUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PhotoAuthorizationUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostNestedCommentUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/PostUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/ReviewWritingUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/TourApiDetailCommonUseCase.swift
  travelPlan/Source/Domain/UseCases/Protocol/UserBlockUseCase.swift
  travelPlan/travelPlan.xcodeproj/project.pbxproj
Labels: 🎁 Repository, ✅ Test, ✨ Rebuild, 🥰UseCase
